demo/vw-dify-workflow-demo.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: advanced-chat
  name: dify-workflow
  use_icon_as_answer_icon: true
dependencies:
- current_identifier: null
  type: package
  value:
    plugin_unique_identifier: langgenius/tongyi:0.1.36@73e3e28eca163b96da65ef9eab8633f9e7257213ff0d2f2bed93b28b552d2cda
    version: null
kind: app
version: 0.5.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions: []
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: AI智能数据检索，一键直达所需：订单、退单、商品、客户、库存，所有信息实时掌握。
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions:
    - 查询昨天的订单
    - 查询商品库存
    - 查询商品
    - 查询客户
    - 查询最近7天的退货单
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: if-else
      id: 1711528917469-source-1766634337813-target
      selected: false
      source: '1711528917469'
      sourceHandle: source
      target: '1766634337813'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1766634337813-true-1766635633366-target
      selected: false
      source: '1766634337813'
      sourceHandle: 'true'
      target: '1766635633366'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: start
        targetType: llm
      id: 1711528914102-source-1711528917469-target
      selected: false
      source: '1711528914102'
      sourceHandle: source
      target: '1711528917469'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: code
      id: 1711528914102-source-1767672490898-target
      selected: false
      source: '1711528914102'
      sourceHandle: source
      target: '1767672490898'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: answer
      id: 1766634337813-false-1767686964213-target
      selected: false
      source: '1766634337813'
      sourceHandle: 'false'
      target: '1767686964213'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: if-else
      id: 1767672490898-source-1766634337813-target
      selected: false
      source: '1767672490898'
      sourceHandle: source
      target: '1766634337813'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1766634337813-2a8c8900-2850-4b74-84c1-2d205a9de7b2-17678560466480-target
      selected: false
      source: '1766634337813'
      sourceHandle: 2a8c8900-2850-4b74-84c1-2d205a9de7b2
      target: '17678560466480'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: answer
      id: 17678562783560-true-17678562869960-target
      selected: false
      source: '17678562783560'
      sourceHandle: 'true'
      target: '17678562869960'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: answer
      id: 17678562783560-false-17678562903150-target
      selected: false
      source: '17678562783560'
      sourceHandle: 'false'
      target: '17678562903150'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1766634337813-79699f34-1237-4eee-8c86-f22fa0508a3c-17679218459970-target
      selected: false
      source: '1766634337813'
      sourceHandle: 79699f34-1237-4eee-8c86-f22fa0508a3c
      target: '17679218459970'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: answer
      id: 17679219443570-true-17679219502880-target
      selected: false
      source: '17679219443570'
      sourceHandle: 'true'
      target: '17679219502880'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: answer
      id: 17679219443570-false-17679219550660-target
      selected: false
      source: '17679219443570'
      sourceHandle: 'false'
      target: '17679219550660'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: answer
      id: 17679223561330-false-17679223667690-target
      selected: false
      source: '17679223561330'
      sourceHandle: 'false'
      target: '17679223667690'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: answer
      id: 17679223561330-true-17679223631810-target
      selected: false
      source: '17679223561330'
      sourceHandle: 'true'
      target: '17679223631810'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1766634337813-22bdec96-5942-49bc-8c12-d0d0067d30aa-17679223188780-target
      selected: false
      source: '1766634337813'
      sourceHandle: 22bdec96-5942-49bc-8c12-d0d0067d30aa
      target: '17679223188780'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1766634337813-ac43a0a5-96a5-443c-8926-c25a99886de9-17679231704560-target
      selected: false
      source: '1766634337813'
      sourceHandle: ac43a0a5-96a5-443c-8926-c25a99886de9
      target: '17679231704560'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: answer
      id: 17679229602000-true-17679229672690-target
      selected: false
      source: '17679229602000'
      sourceHandle: 'true'
      target: '17679229672690'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: answer
      id: 17679229602000-false-17679229712060-target
      selected: false
      source: '17679229602000'
      sourceHandle: 'false'
      target: '17679229712060'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 17679223188780-source-17679223411320-target
      selected: false
      source: '17679223188780'
      sourceHandle: source
      target: '17679223411320'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 17679231704560-source-17679229135100-target
      selected: false
      source: '17679231704560'
      sourceHandle: source
      target: '17679229135100'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 17679218459970-source-17679219273120-target
      selected: false
      source: '17679218459970'
      sourceHandle: source
      target: '17679219273120'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 17678560466480-source-17682708404140-target
      selected: false
      source: '17678560466480'
      sourceHandle: source
      target: '17682708404140'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 1766635633366-source-17682708682560-target
      selected: false
      source: '1766635633366'
      sourceHandle: source
      target: '17682708682560'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: answer
        targetType: code
      id: 17682708682560-source-1768285919615-target
      selected: false
      source: '17682708682560'
      sourceHandle: source
      target: '1768285919615'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: if-else
      id: 1768285919615-source-1768289301723-target
      selected: false
      source: '1768285919615'
      sourceHandle: source
      target: '1768289301723'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: code
      id: 1768289301723-true-1768287264784-target
      selected: false
      source: '1768289301723'
      sourceHandle: 'true'
      target: '1768287264784'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: answer
      id: 1768289301723-false-1768289362995-target
      selected: false
      source: '1768289301723'
      sourceHandle: 'false'
      target: '1768289362995'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: if-else
      id: 1768287264784-source-1768289727753-target
      selected: false
      source: '1768287264784'
      sourceHandle: source
      target: '1768289727753'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: code
      id: 1768289727753-true-1766636087293-target
      selected: false
      source: '1768289727753'
      sourceHandle: 'true'
      target: '1766636087293'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: answer
      id: 1768289727753-false-1768289775987-target
      selected: false
      source: '1768289727753'
      sourceHandle: 'false'
      target: '1768289775987'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: if-else
      id: 1766636087293-source-1768291928406-target
      selected: false
      source: '1766636087293'
      sourceHandle: source
      target: '1768291928406'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: if-else
      id: 1768291928406-true-1766636145693-target
      selected: false
      source: '1768291928406'
      sourceHandle: 'true'
      target: '1766636145693'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: answer
      id: 1766636145693-true-1766636158739-target
      selected: false
      source: '1766636145693'
      sourceHandle: 'true'
      target: '1766636158739'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: answer
      id: 1766636145693-false-1766636181683-target
      selected: false
      source: '1766636145693'
      sourceHandle: 'false'
      target: '1766636181683'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: answer
      id: 1768291928406-false-1768292241002-target
      selected: false
      source: '1768291928406'
      sourceHandle: 'false'
      target: '1768292241002'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: answer
        targetType: code
      id: 17682708404140-source-17682934727270-target
      selected: false
      source: '17682708404140'
      sourceHandle: source
      target: '17682934727270'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: if-else
      id: 17682934727270-source-17682937767360-target
      selected: false
      source: '17682934727270'
      sourceHandle: source
      target: '17682937767360'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: code
      id: 17682937767360-true-17682938026260-target
      selected: false
      source: '17682937767360'
      sourceHandle: 'true'
      target: '17682938026260'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: answer
      id: 17682937767360-false-17682938069040-target
      selected: false
      source: '17682937767360'
      sourceHandle: 'false'
      target: '17682938069040'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: if-else
      id: 17682938026260-source-17682938642950-target
      selected: false
      source: '17682938026260'
      sourceHandle: source
      target: '17682938642950'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: code
      id: 17682938642950-true-17682938772640-target
      selected: false
      source: '17682938642950'
      sourceHandle: 'true'
      target: '17682938772640'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: answer
      id: 17682938642950-false-17682938699440-target
      selected: false
      source: '17682938642950'
      sourceHandle: 'false'
      target: '17682938699440'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: if-else
      id: 17682938772640-source-17682943201120-target
      selected: false
      source: '17682938772640'
      sourceHandle: source
      target: '17682943201120'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: answer
      id: 17682943201120-false-17682943316860-target
      selected: false
      source: '17682943201120'
      sourceHandle: 'false'
      target: '17682943316860'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: if-else
      id: 17682943201120-true-17678562783560-target
      source: '17682943201120'
      sourceHandle: 'true'
      target: '17678562783560'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: answer
        targetType: code
      id: 17679219273120-source-17682951305190-target
      source: '17679219273120'
      sourceHandle: source
      target: '17682951305190'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: if-else
      id: 17682951305190-source-17682951337040-target
      source: '17682951305190'
      sourceHandle: source
      target: '17682951337040'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: answer
      id: 17682951337040-false-17682952052450-target
      source: '17682951337040'
      sourceHandle: 'false'
      target: '17682952052450'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: code
      id: 17682951337040-true-17682952281620-target
      source: '17682951337040'
      sourceHandle: 'true'
      target: '17682952281620'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: if-else
      id: 17682952281620-source-17682952423730-target
      source: '17682952281620'
      sourceHandle: source
      target: '17682952423730'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: answer
      id: 17682952423730-false-17682952537970-target
      source: '17682952423730'
      sourceHandle: 'false'
      target: '17682952537970'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: if-else
      id: 17682952423730-true-17679219443570-target
      source: '17682952423730'
      sourceHandle: 'true'
      target: '17679219443570'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: answer
        targetType: code
      id: 17679223411320-source-17682981338690-target
      source: '17679223411320'
      sourceHandle: source
      target: '17682981338690'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: if-else
      id: 17682981338690-source-17682981488370-target
      source: '17682981338690'
      sourceHandle: source
      target: '17682981488370'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: code
      id: 17682981488370-true-17682981570450-target
      source: '17682981488370'
      sourceHandle: 'true'
      target: '17682981570450'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: answer
      id: 17682981488370-false-17682981635970-target
      source: '17682981488370'
      sourceHandle: 'false'
      target: '17682981635970'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: if-else
      id: 17682981570450-source-17682981776470-target
      source: '17682981570450'
      sourceHandle: source
      target: '17682981776470'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: answer
      id: 17682981776470-false-17682981960640-target
      source: '17682981776470'
      sourceHandle: 'false'
      target: '17682981960640'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: if-else
      id: 17682981776470-true-17679223561330-target
      source: '17682981776470'
      sourceHandle: 'true'
      target: '17679223561330'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: if-else
      id: 17682989451520-source-17682989505230-target
      source: '17682989451520'
      sourceHandle: source
      target: '17682989505230'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: code
      id: 17682989505230-true-17682989634980-target
      source: '17682989505230'
      sourceHandle: 'true'
      target: '17682989634980'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: answer
      id: 17682989505230-false-17682989582890-target
      source: '17682989505230'
      sourceHandle: 'false'
      target: '17682989582890'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: if-else
      id: 17682989634980-source-17682989711310-target
      source: '17682989634980'
      sourceHandle: source
      target: '17682989711310'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: if-else
      id: 17682989711310-true-17679229602000-target
      source: '17682989711310'
      sourceHandle: 'true'
      target: '17679229602000'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: answer
      id: 17682989711310-false-17682989893370-target
      source: '17682989711310'
      sourceHandle: 'false'
      target: '17682989893370'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: answer
        targetType: code
      id: 17679229135100-source-17682989451520-target
      source: '17679229135100'
      sourceHandle: source
      target: '17682989451520'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: 开始
        type: start
        variables:
        - default: ''
          hint: ''
          label: dhb_skey
          max_length: 256
          options: []
          placeholder: ''
          required: false
          type: text-input
          variable: dhb_skey
        - default: ''
          hint: ''
          label: 当前环境
          max_length: 48
          options: []
          placeholder: ''
          required: false
          type: text-input
          variable: current_env
      height: 135
      id: '1711528914102'
      position:
        x: -257.13268842419546
        y: 303.98691446244754
      positionAbsolute:
        x: -257.13268842419546
        y: 303.98691446244754
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params:
            enable_thinking: true
          mode: chat
          name: deepseek-v4-flash
          provider: deepseek
        prompt_template:
        - edition_type: basic
          id: d838df01-35ab-4649-89fb-1200e8fa0db5
          role: system
          text: '# Role: 数据检索查询助手


            ## Profile:

            - 你是一名专业的数据检索查询专家，帮助用户查询查订单、退单（退货单）、商品、客户、库存信息。


            ## Rules:

            1.  **严格匹配**：你的回答必须只是Profile提到的能力。不知道答案时，明确告知用户。

            2.  **友好交互**：礼貌回应，并在用户查询数据不明确时，主动引导用户提供必要信息。

            你是查询订单、退单（退货单）、商品、客户、库存，这样帮助系统进入下一个节点。


            ## Workflow:

            1.  首先，理解用户的最新查询需求。

            2. 第一步分析出用户查订单orders、退单（退货单）return、商品goods、客户client、库存inventory;如果用户提到类似查询什么时候，但是没有明确是查询什么，默认是查订单orders;如果用户输入跟查询完全不沾边的毫无意义的，不用走默认订单，而是引导用户查询。

            3. 输出中必须返回一个JSON，方便我们定位下一步逻辑，分析出用户意图最高的行为

            用户意图识别后，比如返回 type


            ```json

            {"action":"查询状态为数据列表","type":"orders|return|goods|client|inventory"}

            ```'
        - id: adc0a175-ba97-4ac1-a0f9-64ac12daf1e1
          role: user
          text: 用户输入的问题如下{{#sys.query#}}
        selected: false
        title: 用户查询意图识别
        type: llm
        variables: []
        vision:
          enabled: false
      height: 94
      id: '1711528917469'
      position:
        x: 101.33231167411623
        y: 324.98691446244754
      positionAbsolute:
        x: 101.33231167411623
        y: 324.98691446244754
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: contains
            id: 8b36e45b-246f-42e8-b336-79b2beffa0f7
            value: '"type":"orders"'
            varType: string
            variable_selector:
            - '1711528917469'
            - text
          id: 'true'
          logical_operator: and
        - case_id: 2a8c8900-2850-4b74-84c1-2d205a9de7b2
          conditions:
          - comparison_operator: contains
            id: 7b4c4343-94c8-445a-b50e-0b1a845d2ac4
            value: '"type":"return"'
            varType: string
            variable_selector:
            - '1711528917469'
            - text
          id: 2a8c8900-2850-4b74-84c1-2d205a9de7b2
          logical_operator: and
        - case_id: 79699f34-1237-4eee-8c86-f22fa0508a3c
          conditions:
          - comparison_operator: contains
            id: 8690dc0d-dab6-4284-8b17-9497b6b3dd8c
            value: '"type":"goods"'
            varType: string
            variable_selector:
            - '1711528917469'
            - text
          id: 79699f34-1237-4eee-8c86-f22fa0508a3c
          logical_operator: and
        - case_id: 22bdec96-5942-49bc-8c12-d0d0067d30aa
          conditions:
          - comparison_operator: contains
            id: b93f0d62-fae9-4708-8bf9-f5bbe6141545
            value: '"type":"client"'
            varType: string
            variable_selector:
            - '1711528917469'
            - text
          id: 22bdec96-5942-49bc-8c12-d0d0067d30aa
          logical_operator: and
        - case_id: ac43a0a5-96a5-443c-8926-c25a99886de9
          conditions:
          - comparison_operator: contains
            id: 52b4e3c1-195b-4a67-b0e6-3019924595cf
            value: '"type":"inventory"'
            varType: string
            variable_selector:
            - '1711528917469'
            - text
          id: ac43a0a5-96a5-443c-8926-c25a99886de9
          logical_operator: and
        selected: false
        title: 意图分支流程
        type: if-else
      height: 316
      id: '1766634337813'
      position:
        x: 426.5031109174977
        y: 315.95134417465937
      positionAbsolute:
        x: 426.5031109174977
        y: 315.95134417465937
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            enable_thinking: true
          mode: chat
          name: deepseek-v4-flash
          provider: deepseek
        prompt_template:
        - id: b43c1725-49b4-4892-aa32-06049c982d0f
          role: system
          text: '# Role: 订单数据检索查询助手

             

             

            ## Profile:

            - 你是一名专业的订单数据检索查询专家，专门通过系统API为用户查询订单相关的信息。

             

            ## 我的技能

             

            ### 按关键词搜索订单

            <skill>

            参数

            kw：关键词搜索，字符串，支持在多个字段中模糊匹配，无默认值。

            匹配字段

            订单号、订货单号、收货单位、收货人、联系电话、订单备注、内部沟通

            使用示例

            用户说“搜索一下北京的公司订单” → 提取 kw: "北京"

            用户说“查一下订单备注里有质量问题的订单” → 提取 kw: "质量问题"

            用户说“找一下收货人是李四的订单” → 提取 kw: "李四"

            用户说“联系电话是13800138000的订单” → 提取 kw: "13800138000"

            用户说“搜索订单号为TH_20260107_0001的订单” → 提取 kw: "TH_20260107_0001"，同时提取start_time:
            "2026-01-07 00:00"和start_time_end: "2026-01-07 23:59"

            用户说“内部沟通里需要优先处理的订单” → 提取 kw: "优先处理"

            用户说“查一下订单是TH_20251220_0010的订单” → 提取 kw: "TH_20251220_0010"

            用户说“查询15528271282”或者”查询15528271282订单“,这是类似于客户手机号 → 提取 client_name: "15528271282"

            </skill>




            ### 按订单创建时间查询

            <skill>

            参数

            start_time：开始时间，格式为"YYYY-MM-DD 00:00"。如果未指定开始时间，默认值为一个月前。

            start_time_end：结束时间，格式为"YYYY-MM-DD 23:59"。如果没有指定结束时间，此参数不传。

             

            使用示例

            时间中的提取逻辑只是一个demo,请根据当前的中国北京时间确定相对时间，今天的，一周等是相对

            用户说“查看今天创建的订单” → 提取 start_time: "YYYY-MM-DD 00:00"和start_time_end: "YYYY-MM-DD
            23:59"

            用户说“查一下最近一周的订单” → 提取 start_time: "YYYY-MM-DD 00:00"和 start_time_end: "YYYY-MM-DD
            23:59"

            用户说“看下最近一个月的订单” → 提取 start_time: "YYYY-MM-DD 00:00"（不指定结束时间，默认结束时间为当前）

            用户说“从2025年12月6日到2026年1月7日的订单” → 提取 start_time: "YYYY-MM-DD 00:00"和 start_time_end: "YYYY-MM-DD
            23:59"

            用户说“2025年12月6日的订单” → 提取 start_time: "YYYY-MM-DD 00:00"和 start_time_end: "YYYY-MM-DD
            23:59"

            用户说“查看上个月的订单” → 提取 start_time: "YYYY-MM-DD 00:00"和 start_time_end: "YYYY-MM-DD
            23:59"

            用户说“订单创建时间在2026年1月1日之后的” → 提取 start_time: "YYYY-MM-DD 00:00"（不指定结束时间）

            用户说“订单创建时间在2026年1月1日之前的” → 提取 start_time_end: "YYYY-MM-DD 23:59"（不指定开始时间，但默认开始时间为一个月前，即YYYY-MM-DD 00:00）

            用户说“查看所有订单” → 不传递时间参数（即不设置start_time和start_time_end）

            </skill>

             

            ### 按订单状态查询

             

            <skill>

            **参数** 

            `status`：订单状态，字符串，默认值为空，单选。 

             

            **状态映射** 

            - `pricing` 待核价 

            - `pending` 待审核 

            - `stock_up` 待出库 

            - `part_stock` 部分出库 

            - `shipped` 待发货 

            - `received` 待收货 

            - `finished` 已收货 

            - `cancelled` 已取消 

            - `forcedone` 强制完成 

             

            **使用示例** 

            用户说“查看待审核的订单” → 提取 `status: "pending"` 

            用户说“已发货的订单有哪些” → 提取 `status: "shipped"` 

            用户说“待收货的订单” → 提取 `status: "received"` 

            用户说“已收货的订单” → 提取 `status: "finished"` 

            用户说“查看已取消的订单” → 提取 `status: "cancelled"` 

            用户说“强制完成的订单” → 提取 `status: "forcedone"` 

            </skill>

             

            ### 按收款状态查询

             

            <skill>

            参数

            receipt_status：收款状态，字符串，无默认值，单选。

             

            状态映射

            oblig→ 待收款

            wait→ 待确认

            part→ 部分确认

            uncollect→ 部分收款

            paided→ 已收款

             

            使用示例

            用户说“查一下待收款的订单” → 提取 receipt_status: "oblig"

            用户说“有哪些待确认的收款” → 提取 receipt_status: "wait"

            用户说“部分收款的订单” → 提取 receipt_status: "uncollect"

            用户说“已收款的订单有哪些” → 提取 receipt_status: "paided"

            用户说“查看部分确认的订单” → 提取 receipt_status: "part"

            </skill>

             

            ### 按客户查询订单

            <skill>

            参数

            client_name：客户名字列表，字符串，多个客户用英文逗号分隔，无默认值，多选。

            说明

            用户查询时，需从用户输入中提取出客户名称（中文），然后通过后台数据模糊匹配对应的客户ID，最后将匹配到的客户ID填入参数

            需要提取具有分词特性的中文客户名称关键词，以便后续进行数据库模糊匹配

            最终由大模型判断并确定客户对应的ID

             

            使用示例

            用户说“查看华为的订单” → 提取"华为"，后台模糊匹配客户名称中包含"华为"的客户，得到对应客户ID

            用户说“查询阿里巴巴和腾讯的订单” → 提取"阿里巴巴"、"腾讯"，后台分别模糊匹配这两个客户名称

            用户说“查一下华为、小米、OPPO的订单” → 提取"华为"、"小米"、"OPPO"，后台分别模糊匹配这些客户名称

            用户说“找一下客户A的订单” → 提取"客户A"，后台模糊匹配客户名称中包含"客户A"的客户

            用户说“搜索一下北京科技公司的订单” → 提取"北京科技公司"，后台模糊匹配客户名称中包含"北京科技公司"的客户

            </skill>

             

            ### 按设备来源查询

             

            <skill>

            参数

            source_device：订单来源设备，字符串，无默认值，单选。

             

            状态映射

            compute→ PC

            mini→ 小程序

            weixin→ 微信

            android→ 安卓

            ios→ IOS

             

            使用示例

            用户说“查看来自PC的订单” → 提取 source_device: "compute"

            用户说“小程序下单的订单有哪些” → 提取 source_device: "mini"

            用户说“微信来源的订单” → 提取 source_device: "weixin"

            用户说“安卓设备的订单” → 提取 source_device: "android"

            用户说“IOS的订单” → 提取 source_device: "ios"

            </skill>

             

             

            ### 按下单方式查询

             

            <skill>

            参数

            is_admin_order：下单方式，字符串，无默认值，单选。

             

            参数映射

            T→ 代客下单

            F→ 自主下单

             

            使用示例

            用户说“查看代客下单的订单” → 提取 is_admin_order: T

            用户说“自主下单的订单有哪些” → 提取 is_admin_order: F

            用户说“帮我查一下代客下单的订单” → 提取 is_admin_order: T

            用户说“不是代客下单的订单” → 提取 is_admin_order: F

            用户说“客户自己下单的订单” → 提取 is_admin_order: F

            </skill>

             

             

            ### 按结算方式查询

             

            <skill>

            参数

            clearing_form：结算方式，字符串，无默认值，单选。

            状态映射

            prepaid→ 预付

            forward→ 现付

            postpaid→ 后付

             

            使用示例

            用户说“查看预付的订单” → 提取 clearing_form: "prepaid"

            用户说“现付的订单有哪些” → 提取 clearing_form: "forward"

            用户说“后付的订单” → 提取 clearing_form: "postpaid"

            用户说“帮我查一下预付的订单” → 提取 clearing_form: "prepaid"

            用户说“不是现付的订单” → 注意：这里需要逻辑处理，但本参数为单选，通常不用于否定查询，如用户明确要求非现付，可结合其他参数或转换为查询“预付”或“后付”

            </skill>

             

             

            ### 按促销类型查询

             

            <skill>

            参数

            orders_type：促销类型，字符串，无默认值，单选。

            状态映射

            special→ 特批

            group_buy→ 团购

            normal→ 常规

             

            使用示例

            用户说“查看特批的订单” → 提取 orders_type: "special"

            用户说“团购订单有哪些” → 提取 orders_type: "group_buy"

            用户说“常规订单” → 提取 orders_type: "normal"

            用户说“帮我查一下特批订单” → 提取 orders_type: "special"

            用户说“不是团购的订单” → 注意：本参数为单选，通常不直接用于否定查询。

            可结合其他参数或根据上下文处理，例如用户可能想查“常规”或“特批”。

            </skill>

             

             

            ### 按打印状态查询

             

            <skill>

            参数

            orders_print_flag：订单打印状态，字符串，无默认值，单选。

            参数映射

            T→ 已打印

            F→ 未打印

             

            使用示例

            用户说“查看已打印的订单” → 提取 orders_print_flag: T

            用户说“未打印的订单有哪些” → 提取 orders_print_flag: F

            用户说“帮我查一下已打印的订单” → 提取 orders_print_flag: T

            用户说“还没打印的订单” → 提取 orders_print_flag: F

            用户说“打印过的订单” → 提取 orders_print_flag: T

            </skill>

             

             

            ### 按发货单打印状态查询

            <skill>

            参数

            ships_print_flag：发货单打印状态，字符串，无默认值，单选。

            参数映射

            T→ 已打印

            F→ 未打印

             

            使用示例

            用户说“查看已打印的发货单” → 提取 ships_print_flag: T

            用户说“未打印的发货单有哪些” → 提取 ships_print_flag: F

            用户说“帮我查一下已打印的发货单” → 提取 ships_print_flag: T

            用户说“还没打印的发货单” → 提取 ships_print_flag: F

            用户说“打印过的发货单” → 提取 ships_print_flag: T

            </skill>

             

             

            ### 按物流单打印状态查询

             

            <skill>

            参数

            kuaididan_print_flag：物流单打印状态，字符串，无默认值，单选。

            参数映射

            T→ 已打印

            F→ 未打印

             

            使用示例

            用户说“查看已打印的物流单” → 提取 kuaididan_print_flag: T

            用户说“未打印的物流单有哪些” → 提取 kuaididan_print_flag: F

            用户说“帮我查一下已打印的物流单” → 提取 kuaididan_print_flag: T

            用户说“还没打印的物流单” → 提取 kuaididan_print_flag: F

            用户说“打印过的物流单” → 提取 kuaididan_print_flag: T

            </skill>

             

             

            ### 按电子面单打印状态查询

            <skill>

            参数

            electronic_print_flag：电子面单打印状态，字符串，无默认值，单选。

            参数映射

            T→ 已打印

            F→ 未打印

             

            使用示例

            用户说“查看已打印的电子面单” → 提取 electronic_print_flag: T

            用户说“未打印的电子面单有哪些” → 提取 electronic_print_flag: F

            用户说“帮我查一下已打印的电子面单” → 提取 electronic_print_flag: T

            用户说“还没打印的电子面单” → 提取 electronic_print_flag: F

            用户说“打印过的电子面单” → 提取 electronic_print_flag: T

            </skill>

             

             

            ### 隐藏已取消的订单设置

            <skill>

            参数

            hide_canceled：隐藏已取消订单，字符串，枚举值为"on"，默认值为空。

            参数说明

            当用户要求隐藏已取消的订单时，设置为"on"

            默认情况下（为空）不隐藏已取消的订单

             

            使用示例

            用户说“隐藏已取消的订单” → 提取 hide_canceled: "on"

            用户说“不要显示已取消的订单” → 提取 hide_canceled: "on"

            用户说“只显示未取消的订单” → 提取 hide_canceled: "on"

            用户说“排除已取消的订单” → 提取 hide_canceled: "on"

            用户说“显示全部订单” → 无需设置此参数

            用户说“包含已取消的订单” → 无需设置此参数

            </skill>




            ## 输出

            1:订单查询条件可以为空，表示查询当前的默认订单

            2:严格按照我的技能中列出的skill参数，不得自己创造

            3:将匹配出来的状态信息，放到一个JSON代码块中，例子如下

            ```json

            {"kw":"成都","status":"pending","start_time":"2026-01-04 11:00"}

            ```'
        - id: b2897be2-fddd-4b01-9bf4-0557e69c48c3
          role: user
          text: '用户意图 {{#1711528917469.text#}}

            此刻的时间为：{{#1767672490898.current_time#}}。'
        selected: false
        title: 订单参数提取
        type: llm
        vision:
          enabled: false
      height: 94
      id: '1766635633366'
      position:
        x: 763.7292425954194
        y: 169.63063995427905
      positionAbsolute:
        x: 763.7292425954194
        y: 169.63063995427905
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "\"\"\"\n订单查询模块\n接收处理后的参数，查询订单并返回结果\n\"\"\"\n\nimport json\nfrom urllib.parse\
          \ import urlencode, urljoin\nimport requests\nfrom typing import Dict, Any,\
          \ List\nfrom datetime import datetime, timedelta\n\ndef build_order_query_params(condition_data:\
          \ Dict[str, Any]) -> Dict[str, Any]:\n    \"\"\"\n    构建订单查询参数\n    \n \
          \   Args:\n        condition_data: 条件参数字典\n        \n    Returns:\n    \
          \    构建好的查询参数\n    \"\"\"\n    # 默认参数\n    params = {\n        \"page\"\
          : 1,\n        \"pageSize\": 10\n    }\n    \n    # 从条件数据中提取参数\n    if condition_data:\n\
          \        for key, value in condition_data.items():\n            if value\
          \ is not None and value != \"\":\n                if key == \"type\" and\
          \ value == \"orders\":\n                    continue\n\n               \
          \ if key == \"action\":\n                    continue\n\n              \
          \  # 处理时间参数\n                if key in [\"start_time\", \"start_time_end\"\
          ]:\n                    params[key] = str(value).replace(\" \", \"+\")\n\
          \                else:\n                    params[key] = str(value)\n \
          \   \n    # 如果没有提供start_time，则设置默认值为最近一个月\n    if \"start_time\" not in\
          \ params:\n        one_month_ago = datetime.now() - timedelta(days=30)\n\
          \        params[\"start_time\"] = one_month_ago.strftime(\"%Y-%m-%d+00:00\"\
          )\n    \n    return params\n\ndef make_api_request(params: Dict[str, Any],\
          \ dhb_skey: str, current_manager_api: str) -> Dict[str, Any]:\n    \"\"\"\
          \n    调用订单查询API接口\n    \n    Args:\n        params: 查询参数\n        dhb_skey:\
          \ 用户认证密钥\n        current_manager_api: 管理API地址\n        \n    Returns:\n\
          \        API响应数据\n    \"\"\"\n    if not current_manager_api:\n        return\
          \ {}\n    \n    try:\n        # 构建完整的订单查询URL\n        order_endpoint = \"\
          /RestfulApi/order\"\n        base_url = urljoin(current_manager_api, order_endpoint)\n\
          \        \n        # 添加认证密钥\n        query_params = params.copy()\n    \
          \    if dhb_skey and dhb_skey.strip():\n            query_params[\"dhb_skey\"\
          ] = dhb_skey\n        \n        # 构建完整URL\n        query_string = urlencode(query_params,\
          \ doseq=True, safe='+')\n        full_url = f\"{base_url}?{query_string}\"\
          \n        \n        headers = {\n            \"Content-Type\": \"application/json;\
          \ charset=utf-8\",\n            \"Accept\": \"application/json; charset=utf-8\"\
          \n        }\n        \n        # 发送请求\n        response = requests.get(full_url,\
          \ headers=headers, timeout=30.0)\n        response.raise_for_status()\n\
          \        \n        return response.json()\n        \n    except requests.exceptions.Timeout:\n\
          \        return dict(code=-1, msg=\"API请求超时\", message=\"API请求超时\")\n    except requests.exceptions.RequestException as e:\n\
          \        error_message = f\"API请求异常: {str(e)}\"\n        return dict(code=-1, msg=error_message, message=error_message)\n    except json.JSONDecodeError as e:\n\
          \        error_message = f\"API返回非JSON: {str(e)}\"\n        return dict(code=-1, msg=error_message, message=error_message)\n    except Exception as e:\n\
          \        error_message = f\"API请求处理异常: {str(e)}\"\n        return dict(code=-1, msg=error_message, message=error_message)\n\ndef format_orders_text(orders:\
          \ List[Dict[str, Any]]) -> str:\n    \"\"\"\n    格式化订单信息为文本\n    \"\"\"\n\
          \    if not orders:\n        return \"暂无订单数据\"\n    \n    try:\n       \
          \ texts = []\n        for i, order in enumerate(orders[:30], 1):  # 最多显示30个订单\n\
          \            orders_num = order.get(\"orders_num\", \"N/A\")\n         \
          \   text = f\"{orders_num}\"\n            texts.append(text)\n        \n\
          \        return \",\".join(texts)\n        \n    except Exception as e:\n\
          \        return f\"共{len(orders)}条订单数据（注意：当前每次最多返回10条）\"\n\ndef query_orders(params:\
          \ Dict[str, Any], dhb_skey: str, current_manager_api: str) -> Dict[str,\
          \ Any]:\n    \"\"\"\n    查询订单\n    \n    Args:\n        params: 查询参数字典\n\
          \        dhb_skey: 用户认证密钥\n        current_manager_api: 管理API地址\n      \
          \  \n    Returns:\n        查询结果字典\n    \"\"\"\n    result = {\n        \"\
          success\": False,\n        \"message\": \"\",\n        \"ai_agent_manager_orders\"\
          : [],\n        \"ai_agent_manager_orders_text\": \"\"\n    }\n    \n   \
          \ try:\n        # 验证必要参数\n        if not dhb_skey or not dhb_skey.strip():\n\
          \            result[\"message\"] = \"认证密钥无效\"\n            return result\n\
          \        \n        if not current_manager_api or not current_manager_api.strip():\n\
          \            result[\"message\"] = \"API地址无效\"\n            return result\n\
          \        \n        # 确保API地址格式正确\n        if not current_manager_api.startswith((\"\
          http://\", \"https://\")):\n            current_manager_api = f\"https://{current_manager_api}\"\
          \n        \n        # 构建查询参数\n        query_params = build_order_query_params(params)\n\
          \        \n        # 调用订单查询API\n        api_response = make_api_request(query_params,\
          \ dhb_skey, current_manager_api)\n        \n        if not api_response\
          \ or not isinstance(api_response, dict):\n            result[\"message\"\
          ] = \"API返回数据无效\"\n            return result\n        \n        # 检查API响应状态\n\
          \        if api_response.get(\"code\") != 200:\n            msg = api_response.get(\"\
          msg\") or api_response.get(\"message\", \"API请求失败\")\n            result[\"\
          message\"] = f\"API请求失败: {msg}\"\n            return result\n        \n\
          \        # 提取订单数据\n        data = api_response.get(\"data\", {})\n     \
          \   if not isinstance(data, dict):\n            result[\"message\"] = \"\
          API返回数据格式错误\"\n            return result\n        \n        orders = data.get(\"\
          list\", [])\n        if not isinstance(orders, list):\n            orders\
          \ = []\n        \n        # 设置返回结果\n        result[\"success\"] = True\n\
          \        result[\"message\"] = f\"查询成功，共{len(orders)}条订单\"\n        result[\"\
          ai_agent_manager_orders\"] = orders\n        result[\"ai_agent_manager_orders_text\"\
          ] = format_orders_text(orders)\n        \n        return result\n      \
          \  \n    except Exception as e:\n        result[\"message\"] = f\"处理订单查询时发生错误:\
          \ {str(e)}\"\n        return result\n\ndef main(params: Dict[str, Any],\
          \ dhb_skey: str, current_manager_api: str) -> Dict[str, Any]:\n    \"\"\"\
          \n    Dify工作流主函数 - 订单查询逻辑\n    \n    Args:\n        params: 查询参数字典\n   \
          \     dhb_skey: 用户认证密钥\n        current_manager_api: 管理API地址\n        \n\
          \    Returns:\n        查询结果\n    \"\"\"\n    return query_orders(params,\
          \ dhb_skey, current_manager_api)\n\n# 测试代码\n# if __name__ == \"__main__\"\
          :\n#     import sys\n    \n#     if len(sys.argv) < 4:\n#         print(\"\
          用法: python order_query.py <params_json> <dhb_skey> <current_manager_api>\"\
          )\n#         print(\"示例: python order_query.py '{\\\"client_id\\\": \\\"\
          1,2\\\"}' 'your_key' 'https://yadmin.example.com'\")\n#         sys.exit(1)\n\
          \    \n#     try:\n#         params = json.loads(sys.argv[1])\n#       \
          \  dhb_skey = sys.argv[2]\n#         current_manager_api = sys.argv[3]\n\
          \        \n#         result = main(params, dhb_skey, current_manager_api)\n\
          #         print(json.dumps(result, ensure_ascii=False, indent=2))\n#   \
          \  except json.JSONDecodeError as e:\n#         print(f\"JSON解析错误: {e}\"\
          )\n#         sys.exit(1)"
        code_language: python3
        outputs:
          ai_agent_manager_orders:
            children: null
            type: array[object]
          ai_agent_manager_orders_text:
            children: null
            type: string
          message:
            children: null
            type: string
          success:
            children: null
            type: boolean
        selected: false
        title: 订单API查询服务
        type: code
        variables:
        - value_selector:
          - '1768287264784'
          - params
          value_type: object
          variable: params
        - value_selector:
          - '1711528914102'
          - dhb_skey
          value_type: string
          variable: dhb_skey
        - value_selector:
          - '1767672490898'
          - current_manager_api
          value_type: string
          variable: current_manager_api
      height: 52
      id: '1766636087293'
      position:
        x: 3105.543464885685
        y: 56.71238288259207
      positionAbsolute:
        x: 3105.543464885685
        y: 56.71238288259207
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: not empty
            id: d393257e-9b1c-4375-909a-d677ccd964ed
            value: '55'
            varType: string
            variable_selector:
            - '1766636087293'
            - ai_agent_manager_orders
          id: 'true'
          logical_operator: and
        selected: false
        title: 判断订单是否存在
        type: if-else
      height: 124
      id: '1766636145693'
      position:
        x: 3925.496464857632
        y: 15.755884350326056
      positionAbsolute:
        x: 3925.496464857632
        y: 15.755884350326056
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '我们已经为你找到了如下的订单，当前每次最多返回10条。

          {{#1766636087293.ai_agent_manager_orders_text#}}'
        selected: false
        title: 成功找到订单
        type: answer
        variables: []
      height: 135
      id: '1766636158739'
      position:
        x: 4349.93211734767
        y: -19.014326708227074
      positionAbsolute:
        x: 4349.93211734767
        y: -19.014326708227074
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: 暂时没有查询到订单，你可以换个条件试试。
        selected: false
        title: 订单未找到
        type: answer
        variables: []
      height: 116
      id: '1766636181683'
      position:
        x: 4349.93211734767
        y: 190.38132515053394
      positionAbsolute:
        x: 4349.93211734767
        y: 190.38132515053394
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "from datetime import datetime\n\ndef main(current_env: str = \"\"):\n\
          \    \"\"\"返回当前时间和管理API地址\n    \n    Args:\n        current_env: 环境标识，可选参数。只有传入\"\
          release\"时才使用yadmin，其他情况使用admin\n    \n    Returns:\n        包含当前时间和API地址的字典\n\
          \    \"\"\"\n    current_time = datetime.now().strftime(\"%Y-%m-%d %H:%M:%S\"\
          )\n    \n    # 假设 current_env 可能为 “release”, “gray”, 或其他值（如“dev”）\n    if\
          \ current_env == \"release\":\n        current_manager_api = \"https://yadmin.example.com\"\
          \  # 或具体API路径\n    elif current_env == \"gray\":\n        current_manager_api\
          \ = \"https://gadmin.example.com\"  # 或具体API路径\n    else:  # 默认情况，包括开发(dev)、测试等环境\n\
          \        current_manager_api = \"https://admin.example.com\"  # 或具体API路径\n\
          \    \n    return {\n        \"current_time\": current_time,\n        \"\
          current_manager_api\": current_manager_api\n    }"
        code_language: python3
        outputs:
          current_manager_api:
            children: null
            type: string
          current_time:
            children: null
            type: string
        selected: false
        title: 初始化变量
        type: code
        variables:
        - value_selector:
          - '1711528914102'
          - current_env
          value_type: string
          variable: current_env
      height: 52
      id: '1767672490898'
      position:
        x: 110.61221123839209
        y: 15.755884350326056
      positionAbsolute:
        x: 110.61221123839209
        y: 15.755884350326056
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '我没有理解你的需求，你可以重新试试。

          {{#1711528917469.text#}}'
        selected: false
        title: 用户意图不明确
        type: answer
        variables: []
      height: 119
      id: '1767686964213'
      position:
        x: 763.7292425954194
        y: -45.87743312874713
      positionAbsolute:
        x: 763.7292425954194
        y: -45.87743312874713
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            enable_thinking: true
          mode: chat
          name: deepseek-v4-flash
          provider: deepseek
        prompt_template:
        - id: b43c1725-49b4-4892-aa32-06049c982d0f
          role: system
          text: '# Role: 退单数据检索查询助手

             

             

            ## Profile:

            - 你是一名专业的退单数据检索查询专家，专门通过系统API为用户查询退单相关的信息。

             

            ## 我的技能

             

            ### 按关键词搜索退单

            <skill>

            参数

            kw：关键词搜索，字符串，支持在多个字段中模糊匹配，无默认值。

            匹配字段

            退单编号、收货单位、收货人、联系电话、退单备注、内部沟通

            使用示例

            用户说“搜索一下北京的公司” → 提取 kw: "北京"

            用户说“查一下退单备注里有加急的退单” → 提取 kw: "加急"

            用户说“找一下收货人是张三的退单” → 提取 kw: "张三"

            用户说“联系电话是13800138000的退单” → 提取 kw: "13800138000"

            用户说“搜索退单编号为DH_20260106_0002的退单” → 提取 kw: "DH_20260106_0002"，同时提取start_time: "2026-01-06
            00:00"和start_time_end: "2026-01-06 23:59"

            用户说“内部沟通里有重要客户的退单” → 提取 kw: "重要客户"

            </skill>



            ### 按退单创建时间查询

            <skill>

            参数

            start_time：开始时间，格式为"YYYY-MM-DD 00:00"。如果未指定开始时间，默认值为一个月前。

            start_time_end：结束时间，格式为"YYYY-MM-DD 23:59"。如果没有指定结束时间，此参数不传。

             

            使用示例

            时间中的提取逻辑只是一个demo,请根据当前的中国北京时间确定相对时间，今天的，一周等是相对

            用户说“查看今天创建的退单” → 提取 start_time: "YYYY-MM-DD 00:00"和start_time_end: "YYYY-MM-DD
            23:59"

            用户说“查一下最近一周的退单” → 提取 start_time: "YYYY-MM-DD 00:00"和 start_time_end: "YYYY-MM-DD
            23:59"

            用户说“看下最近一个月的退单” → 提取 start_time: "YYYY-MM-DD 00:00"（不指定结束时间，默认结束时间为当前）

            用户说“从2025年12月6日到2026年1月7日的退单” → 提取 start_time: "YYYY-MM-DD 00:00"和 start_time_end: "YYYY-MM-DD
            23:59"

            用户说“2025年12月6日的退单” → 提取 start_time: "YYYY-MM-DD 00:00"和 start_time_end: "YYYY-MM-DD
            23:59"

            用户说“查看上个月的退单” → 提取 start_time: "YYYY-MM-DD 00:00"和 start_time_end: "YYYY-MM-DD
            23:59"

            用户说“退单创建时间在2026年1月1日之后的” → 提取 start_time: "YYYY-MM-DD 00:00"（不指定结束时间）

            用户说“退单创建时间在2026年1月1日之前的” → 提取 start_time_end: "YYYY-MM-DD 23:59"（不指定开始时间，但默认开始时间为一个月前，即YYYY-MM-DD 00:00）

            用户说“查看所有退单” → 不传递时间参数（即不设置start_time和start_time_end）

            用户说“查询15528271282”或者”查询15528271282退单“,这是类似于客户手机号 → 提取 client_name: "15528271282"

            </skill>

             

            ### 按退货状态查询

            <skill>

            参数

            status：退货状态，字符串，默认值为空，单选。

            状态映射

            return_aud待审核

            shipp_cust待发货

            shipped待收货

            refunded待退款

            finished已完成

            cancelled已取消

            使用示例

            用户说"查看待审核的退货单" → 提取 status: "return_aud"

            用户说"待发货的退货单有哪些" → 提取 status: "shipp_cust"

            用户说"待收货的退货单" → 提取 status: "shipped"

            用户说"待退款的退货单" → 提取 status: "refunded"

            用户说"已完成的退货单" → 提取 status: "finished"

            用户说"已取消的退货单" → 提取 status: "cancelled"

            </skill>

             

            ### 按客户查询退单

            <skill>

            参数

            client_name：客户名字列表，字符串，多个客户用英文逗号分隔，无默认值，多选。

            说明

            用户查询时，需从用户输入中提取出客户名称（中文），然后通过后台数据模糊匹配对应的客户ID，最后将匹配到的客户ID填入参数

            需要提取具有分词特性的中文客户名称关键词，以便后续进行数据库模糊匹配

            最终由大模型判断并确定客户对应的ID

             

            使用示例

            用户说“查看华为的退单” → 提取"华为"，后台模糊匹配客户名称中包含"华为"的客户，得到对应客户ID

            用户说“查询阿里巴巴和腾讯的退单” → 提取"阿里巴巴"、"腾讯"，后台分别模糊匹配这两个客户名称

            用户说“查一下华为、小米、OPPO的退单” → 提取"华为"、"小米"、"OPPO"，后台分别模糊匹配这些客户名称

            用户说“找一下客户A的退单” → 提取"客户A"，后台模糊匹配客户名称中包含"客户A"的客户

            用户说“搜索一下北京科技公司的退单” → 提取"北京科技公司"，后台模糊匹配客户名称中包含"北京科技公司"的客户

            </skill>


            ### 按退货类型查询

            <skill>

            参数

            return_type：退货类型，字符串，无默认值，单选。

            类型映射

            return_refund退货退款

            refund_only仅退款

            使用示例

            用户说"查看退货退款的退货单" → 提取 return_type: "return_refund"

            用户说"仅退款的退货单有哪些" → 提取 return_type: "refund_only"

            用户说"帮我查一下退货退款的退货单" → 提取 return_type: "return_refund"

            用户说"不是仅退款的退货单" → 注意：本参数为单选，通常不用于否定查询，如用户明确要求非仅退款，可转换为查询"退货退款"

            </skill>


            ## 输出

            1:退单查询条件可以为空，表示查询当前的默认退单

            2:严格按照我的技能中列出的skill参数，不得自己创造

            3:将匹配出来的状态信息，放到一个JSON代码块中，例子如下



            ```json

            {"kw":"成都","status":"shipped","start_time":"2026-01-04 11:00"}

            ```'
        - id: b2897be2-fddd-4b01-9bf4-0557e69c48c3
          role: user
          text: '用户意图 {{#1711528917469.text#}}

            此刻的时间为：{{#1767672490898.current_time#}}。'
        selected: false
        title: 退单参数提取
        type: llm
        vision:
          enabled: false
      height: 94
      id: '17678560466480'
      position:
        x: 763.7292425954194
        y: 649.1039118663513
      positionAbsolute:
        x: 763.7292425954194
        y: 649.1039118663513
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: not empty
            id: d393257e-9b1c-4375-909a-d677ccd964ed
            value: ''
            varType: array[object]
            variable_selector:
            - '17682938772640'
            - ai_agent_manager_return
          id: 'true'
          logical_operator: and
        selected: false
        title: 判断退单是否存在
        type: if-else
      height: 124
      id: '17678562783560'
      position:
        x: 3925.496464857632
        y: 419.9154099689306
      positionAbsolute:
        x: 3925.496464857632
        y: 419.9154099689306
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '我们已经为你找到了如下的退货单，当前每次最多返回10条。

          {{#17682938772640.ai_agent_manager_return_text#}}'
        selected: false
        title: 成功找到退单
        type: answer
        variables: []
      height: 135
      id: '17678562869960'
      position:
        x: 4349.93211734767
        y: 412.00987537737797
      positionAbsolute:
        x: 4349.93211734767
        y: 412.00987537737797
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: 暂时没有查询到退货单，你可以换个条件试试。
        selected: false
        title: 退单未找到
        type: answer
        variables: []
      height: 116
      id: '17678562903150'
      position:
        x: 4349.93211734767
        y: 635.0505124127432
      positionAbsolute:
        x: 4349.93211734767
        y: 635.0505124127432
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            enable_thinking: true
          mode: chat
          name: deepseek-v4-flash
          provider: deepseek
        prompt_template:
        - id: b43c1725-49b4-4892-aa32-06049c982d0f
          role: system
          text: '# Role: 商品数据检索查询助手


            ## Profile:

            - 你是一名专业的商品数据检索查询专家，专门通过系统API为用户查询商品相关的信息。


            ## 我的技能


            ### 按关键词搜索商品

            <skill>

            参数

            kw：关键词搜索，字符串，支持在多个字段中模糊匹配，无默认值。

            匹配字段

            商品名称、商品首字母、商品编号、商品关键字、商品条码

            使用示例

            用户说“搜索一下商品名称为苹果的商品” → 提取 kw:"苹果"

            用户说“查一下商品关键字为热销的商品” → 提取 kw:"热销"

            用户说“找一下商品编号为A001的商品” → 提取 kw:"A001"

            用户说“搜索商品首字母为HW的商品” → 提取 kw:"HW"

            </skill>


            ### 按上架状态查询

            <skill>

            参数

            putaway：上架状态，字符串，无默认值，单选。

            类型映射

            T 上架

            F 下架

            使用示例

            用户说"查看已上架的商品" → 提取putaway: "T"

            用户说"下架的商品有哪些" → 提取putaway: "F"

            用户说"帮我查一下上架的商品" → 提取putaway: "T"

            用户说"不是下架的商品" → 注意：本参数为单选，通常不用于否定查询，如用户明确要求非下架，可转换为查询"上架"

            </skill>


            ### 按商品类型查询

            <skill>

            参数

            type：商品类型，字符串，无默认值，单选。

            类型映射

            1普通商品

            2组合商品

            使用示例

            用户说"查看普通商品" → 提取type: "1"

            用户说"组合商品有哪些" → 提取type: "2"

            用户说"帮我查一下普通商品" → 提取type: "1"

            用户说"不是组合商品的商品" → 注意：本参数为单选，通常不用于否定查询，如用户明确要求非组合商品，可转换为查询"普通商品"

            </skill>


            ### 按订货限制查询

            <skill>

            参数

            translation：订货限制，字符串，无默认值，单选。

            类型映射

            1正常

            2预售

            3停售

            使用示例

            用户说"查看正常的商品" → translation: "1"

            用户说"预售商品有哪些" → translation: "2"

            用户说"停售的商品" → 提取translation: "3"

            用户说"不是停售的商品" → 注意：本参数为单选，通常不用于否定查询，如用户明确要求非停售，可转换为查询"正常"

            </skill>


            ### 按商品有图无图查询

            <skill>

            参数

            has_picture：是否有图，字符串，无默认值，单选。

            类型映射

            has有图

            not无图

            使用示例

            用户说"查看有图的商品" → 提取has_picture: "has"

            用户说"无图的商品有哪些" → 提取has_picture: "not"

            用户说"帮我查一下有图的商品" → 提取has_picture: "has"

            用户说"不是无图的商品" → 注意：本参数为单选，通常不用于否定查询，如用户明确要求非无图，可转换为查询"有图"

            </skill>


            ## 输出

            1:商品查询条件可以为空，表示查询当前的默认商品

            2:严格按照我的技能中列出的skill参数，不得自己创造

            3:返回值中不要出现 "type":"goods"

            4:将匹配出来的状态信息，放到一个JSON代码块中，例子如下


            ```json

            {"kw":"方便面","putaway":"T"}

            ```'
        - id: b2897be2-fddd-4b01-9bf4-0557e69c48c3
          role: user
          text: '用户意图 {{#1711528917469.text#}}

            此刻的时间为：{{#1767672490898.current_time#}}。'
        selected: false
        title: 商品参数提取
        type: llm
        vision:
          enabled: false
      height: 94
      id: '17679218459970'
      position:
        x: 763.7292425954194
        y: 1146.0070915268313
      positionAbsolute:
        x: 763.7292425954194
        y: 1146.0070915268313
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: 系统正在分析你的商品查询请求。<br/>
        selected: false
        title: 商品查询参数
        type: answer
        variables: []
      height: 116
      id: '17679219273120'
      position:
        x: 1129.6893232229804
        y: 1130.3194025485075
      positionAbsolute:
        x: 1129.6893232229804
        y: 1130.3194025485075
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: not empty
            id: d393257e-9b1c-4375-909a-d677ccd964ed
            value: ''
            varType: array[object]
            variable_selector:
            - '17682952281620'
            - ai_agent_manager_goods
          id: 'true'
          logical_operator: and
        selected: false
        title: 判断商品是否存在
        type: if-else
      height: 124
      id: '17679219443570'
      position:
        x: 3092.2936309487127
        y: 953.2465694330454
      positionAbsolute:
        x: 3092.2936309487127
        y: 953.2465694330454
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '我们已经为你找到了如下的商品，当前每次最多返回10条。

          {{#17682952281620.ai_agent_manager_goods_text#}}'
        selected: false
        title: 成功找到商品
        type: answer
        variables: []
      height: 135
      id: '17679219502880'
      position:
        x: 3529.213589256957
        y: 897.8289296839354
      positionAbsolute:
        x: 3529.213589256957
        y: 897.8289296839354
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: 暂时没有查询到商品，你可以换个条件试试。
        selected: false
        title: 商品未找到
        type: answer
        variables: []
      height: 116
      id: '17679219550660'
      position:
        x: 3534.8349490384003
        y: 1100.5990965673784
      positionAbsolute:
        x: 3534.8349490384003
        y: 1100.5990965673784
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            enable_thinking: true
          mode: chat
          name: deepseek-v4-flash
          provider: deepseek
        prompt_template:
        - id: b43c1725-49b4-4892-aa32-06049c982d0f
          role: system
          text: '# Role: 客户数据检索查询助手


            ## Profile:

            - 你是一名专业的客户数据检索查询专家，专门通过系统API为用户查询客户相关的信息。


            ## 我的技能


            ### 按关键词搜索客户

            <skill>

            参数

            kw：关键词搜索，字符串，支持在多个字段中模糊匹配，无默认值。

            匹配字段

            客户名称、客户首字母、客户编号、客户关键字、客户条码

            使用示例

            用户说“搜索一下客户名称为苹果的客户” → 提取 kw:"苹果"

            用户说“查一下客户关键字为热销的客户” → 提取 kw:"热销"

            用户说“找一下客户编号为A001的客户” → 提取 kw:"A001"

            用户说“搜索客户首字母为HW的客户” → 提取 kw:"HW"

            </skill>


            ### 按客户账号状态查询

            <skill>

            参数

            status：客户账号状态，字符串，无默认值，单选。

            类型映射

            T 已启用

            F 已停用

            A 待激活

            C 待审核

            使用示例

            用户说"查看已启用的客户" → 提取status: "T"

            用户说"已停用的客户有哪些" → 提取status: "F"

            用户说"帮我查一下待激活的客户" → 提取status: "A"

            用户说"待审核的客户" → 提取status: "C"

            用户说"不是已停用的客户" → 注意：本参数为单选，通常不用于否定查询。如用户明确要求排除已停用，可结合关键词或其他查询条件

            </skill>


            ### 按客户结算方式查询

            <skill>

            参数

            clearing_form：客户结算方式，字符串，无默认值，单选。

            类型映射

            prepaid 预付

            forward 现付

            postpaid 后付

            使用示例

            用户说"查看结算方式是预付的客户" → 提取clearing_form: "prepaid"

            用户说"结算方式为现付的客户有哪些" → 提取clearing_form: "forward"

            用户说"帮我查一下后付的客户" → 提取clearing_form: "postpaid"

            </skill>


            ## 输出

            1:客户查询条件可以为空，表示查询当前的默认客户

            2:严格按照我的技能中列出的skill参数，不得自己创造

            3:将匹配出来的状态信息，放到一个JSON代码块中，例子如下


            ```json

            {"kw":"热销","clearing_form":"prepaid"}

            ```'
        - id: b2897be2-fddd-4b01-9bf4-0557e69c48c3
          role: user
          text: '用户意图 {{#1711528917469.text#}}

            此刻的时间为：{{#1767672490898.current_time#}}。'
        selected: false
        title: 客户参数提取
        type: llm
        vision:
          enabled: false
      height: 94
      id: '17679223188780'
      position:
        x: 763.7292425954194
        y: 1503.3113803245412
      positionAbsolute:
        x: 763.7292425954194
        y: 1503.3113803245412
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: 系统正在分析你的客户查询请求。<br/>
        selected: false
        title: 客户查询参数
        type: answer
        variables: []
      height: 116
      id: '17679223411320'
      position:
        x: 1129.6893232229804
        y: 1489.782931945542
      positionAbsolute:
        x: 1129.6893232229804
        y: 1489.782931945542
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: not empty
            id: d393257e-9b1c-4375-909a-d677ccd964ed
            value: ''
            varType: array[object]
            variable_selector:
            - '17682981570450'
            - ai_agent_manager_client
          id: 'true'
          logical_operator: and
        selected: false
        title: 判断客户是否存在
        type: if-else
      height: 124
      id: '17679223561330'
      position:
        x: 3086.182979242602
        y: 1378.0180147359529
      positionAbsolute:
        x: 3086.182979242602
        y: 1378.0180147359529
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '我们已经为你找到了如下的客户，当前每次最多返回10条。

          {{#17682981570450.ai_agent_manager_client_text#}}'
        selected: false
        title: 成功找到客户
        type: answer
        variables: []
      height: 135
      id: '17679223631810'
      position:
        x: 3534.8349490384003
        y: 1410.5423821018771
      positionAbsolute:
        x: 3534.8349490384003
        y: 1410.5423821018771
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: 暂时没有查询到客户，你可以换个条件试试。
        selected: false
        title: 客户未找到
        type: answer
        variables: []
      height: 116
      id: '17679223667690'
      position:
        x: 3534.8349490384003
        y: 1615.6601241001254
      positionAbsolute:
        x: 3534.8349490384003
        y: 1615.6601241001254
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: 系统正在分析你的商品库存查询请求。<br/>
        selected: false
        title: 库存查询参数
        type: answer
        variables: []
      height: 116
      id: '17679229135100'
      position:
        x: 1140.0938298436008
        y: 1890.1182145064427
      positionAbsolute:
        x: 1140.0938298436008
        y: 1890.1182145064427
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: not empty
            id: d393257e-9b1c-4375-909a-d677ccd964ed
            value: ''
            varType: array[object]
            variable_selector:
            - '17682989634980'
            - ai_agent_manager_stock
          id: 'true'
          logical_operator: and
        selected: false
        title: 判断库存是否存在
        type: if-else
      height: 124
      id: '17679229602000'
      position:
        x: 3092.2936309487127
        y: 1838.1139212113583
      positionAbsolute:
        x: 3092.2936309487127
        y: 1838.1139212113583
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '我们已经为你找到了如下的商品库存，当前每次最多返回10条。

          {{#17682989634980.ai_agent_manager_stock_text#}}'
        selected: false
        title: 成功找到库存
        type: answer
        variables: []
      height: 135
      id: '17679229672690'
      position:
        x: 3529.213589256957
        y: 1874.3923989724315
      positionAbsolute:
        x: 3529.213589256957
        y: 1874.3923989724315
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: 暂时没有查询到商品库存，你可以换个条件试试。
        selected: false
        title: 库存未找到
        type: answer
        variables: []
      height: 116
      id: '17679229712060'
      position:
        x: 3534.8349490384003
        y: 2162.482767687463
      positionAbsolute:
        x: 3534.8349490384003
        y: 2162.482767687463
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            enable_thinking: true
          mode: chat
          name: deepseek-v4-flash
          provider: deepseek
        prompt_template:
        - id: b43c1725-49b4-4892-aa32-06049c982d0f
          role: system
          text: '# Role: 库存数据检索查询助手


            ## Profile:

            - 你是一名专业的库存数据检索查询专家，专门通过系统API为用户查询库存相关的信息。


            ## 我的技能


            ### 按关键词搜索商品库存

            <skill>

            参数

            kw：库存关键词搜索，字符串，支持在多个字段中模糊匹配，无默认值。

            匹配字段

            商品名称、商品首字母、商品编号、商品关键字、商品条形码

            使用示例

            用户说"搜索商品名称为苹果手机的库存" → 提取 kw:"苹果手机"

            用户说"查一下商品关键字为热销的库存" → 提取 kw:"热销"

            用户说"找一下商品编号为A001的库存" → 提取 kw:"A001"

            用户说"搜索商品首字母为IPH的库存" → 提取 kw:"IPH"

            用户说"查一下条形码是6901234567890的库存" → 提取 kw:"6901234567890"

            用户说"显示库存中关于手机的商品" → 提取 kw:"手机"

            </skill>


            ### 按商品可售库存状态查询

            <skill>

            参数

            available_inventory：商品可售库存状态，字符串，无默认值，单选。

            类型映射

            W 预警库存

            U 高于上限

            L 低于下限

            S 低于安全库存

            F 缺货

            H 有货

            使用示例

            用户说“查看可售库存预警的商品库存” → 提取available_inventory: "W"

            用户说“可售库存高于上限的商品库存有哪些” → 提取available_inventory: "U"

            用户说“可售库存低于下限的商品库存” → 提取available_inventory: "L"

            用户说“可售库存低于安全库存的商品库存” → 提取available_inventory: "S"

            用户说“可售缺货的商品库存” → 提取available_inventory: "F"

            用户说“可售有货的商品库存” → 提取available_inventory: "H"

            </skill>


            ### 按商品实际库存状态查询

            <skill>

            参数

            inventory：商品实际库存状态，字符串，无默认值，单选。

            类型映射

            W 预警库存

            U 高于上限

            L 低于下限

            S 低于安全库存

            F 缺货

            H 有货

            使用示例

            用户说“查看实际库存预警的商品库存” → 提取inventory: "W"

            用户说“实际库存高于上限的商品库存” → 提取inventory: "U"

            用户说“实际库存低于下限的商品库存” → 提取inventory: "L"

            用户说“实际库存低于安全库存的商品库存” → 提取inventory: "S"

            用户说“实际缺货的商品库存” → 提取inventory: "F"

            用户说“实际有货的商品库存” → 提取inventory: "H"

            </skill>


            ### 按商品上下架状态查询

            <skill>

            参数

            putaway：商品上下架状态，字符串，无默认值，单选。

            类型映射

            T 上架

            F 下架

            使用示例

            用户说“查看已上架的商品库存” → 提取putaway: "T"

            用户说“下架的商品库存有哪些” → 提取putaway: "F"

            用户说“帮我查一下上架的商品库存” → 提取putaway: "T"

            </skill>


            ### 按商品订货限制状态查询

            <skill>

            参数

            translation：商品订货限制状态，字符串，无默认值，单选。

            类型映射

            1 正常

            2 预售

            3 停售

            使用示例

            用户说“查看正常订货的商品库存” → 提取translation: "1"

            用户说“预售的商品库存有哪些” → 提取translation: "2"

            用户说“停售的商品库存” → 提取translation: "3"

            用户说“帮我查一下正常销售的商品库存” → 提取translation: "1"

            </skill>


            ## 输出

            1:库存查询条件可以为空，表示查询当前的默认库存

            2:严格按照我的技能中列出的skill参数，不得自己创造

            3:将匹配出来的状态信息，放到一个JSON代码块中，例子如下


            ```json

            {"kw":"热销","translation":"1"}

            ```'
        - id: b2897be2-fddd-4b01-9bf4-0557e69c48c3
          role: user
          text: '用户意图 {{#1711528917469.text#}}

            此刻的时间为：{{#1767672490898.current_time#}}。'
        selected: false
        title: 库存参数提取
        type: llm
        vision:
          enabled: false
      height: 94
      id: '17679231704560'
      position:
        x: 756.0026765076105
        y: 1874.3923989724315
      positionAbsolute:
        x: 756.0026765076105
        y: 1874.3923989724315
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: 系统正在分析你的退单查询请求。<br/>
        selected: false
        title: 退单查询参数
        type: answer
        variables: []
      height: 116
      id: '17682708404140'
      position:
        x: 1120.122570386829
        y: 649.1039118663513
      positionAbsolute:
        x: 1120.122570386829
        y: 649.1039118663513
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: 系统正在分析你的订单查询请求。<br/>
        selected: false
        title: 订单查询参数
        type: answer
        variables: []
      height: 116
      id: '17682708682560'
      position:
        x: 1115.9065505507465
        y: 164.00928017283582
      positionAbsolute:
        x: 1115.9065505507465
        y: 164.00928017283582
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "\"\"\"\n参数解析器\n只负责从条件字符串中提取参数\n\"\"\"\n\nimport json\nimport re\nfrom\
          \ typing import Dict, Any\n\ndef clean_json_string(json_str: str) -> str:\n\
          \    \"\"\"\n    清理JSON字符串，移除AI思考过程和代码块标记\n    \"\"\"\n    if not json_str\
          \ or not isinstance(json_str, str):\n        return \"\"\n    \n    # 查找最后一个```json代码块\n\
          \    pattern = r'```json\\s*\\n(.*?)\\n\\s*```'\n    matches = re.findall(pattern,\
          \ json_str, re.DOTALL)\n    \n    if matches:\n        extracted = matches[-1]\n\
          \        return extracted.strip()\n    \n    # 查找普通的```代码块\n    pattern2\
          \ = r'```\\s*\\n(.*?)\\n\\s*```'\n    matches2 = re.findall(pattern2, json_str,\
          \ re.DOTALL)\n    \n    if matches2:\n        extracted = matches2[-1]\n\
          \        cleaned = extracted.strip()\n        if (cleaned.startswith('[')\
          \ and cleaned.endswith(']')) or \\\n           (cleaned.startswith('{')\
          \ and cleaned.endswith('}')):\n            return cleaned\n    \n    # 如果没有代码块标记，直接返回原始字符串\n\
          \    cleaned_str = json_str.strip()\n    if cleaned_str.startswith('[')\
          \ and cleaned_str.endswith(']'):\n        try:\n            json.loads(cleaned_str)\n\
          \            return cleaned_str\n        except json.JSONDecodeError:\n\
          \            pass\n    \n    if cleaned_str.startswith('{') and cleaned_str.endswith('}'):\n\
          \        try:\n            json.loads(cleaned_str)\n            return cleaned_str\n\
          \        except json.JSONDecodeError:\n            pass\n    \n    return\
          \ \"\"\n\ndef extract_json_from_ai_response(text: str) -> str:\n    \"\"\
          \"\n    专门从AI响应中提取JSON数据\n    \"\"\"\n    if not text or not isinstance(text,\
          \ str):\n        return \"\"\n    \n    # 方法1: 查找```json代码块\n    json_blocks\
          \ = re.findall(r'```json\\s*\\n(.*?)\\n\\s*```', text, re.DOTALL)\n    if\
          \ json_blocks:\n        return json_blocks[-1].strip()\n    \n    # 方法2:\
          \ 查找普通```代码块\n    code_blocks = re.findall(r'```\\s*\\n(.*?)\\n\\s*```',\
          \ text, re.DOTALL)\n    if code_blocks:\n        for block in reversed(code_blocks):\n\
          \            block = block.strip()\n            if (block.startswith('[')\
          \ and block.endswith(']')) or \\\n               (block.startswith('{')\
          \ and block.endswith('}')):\n                try:\n                    json.loads(block)\n\
          \                    return block\n                except:\n           \
          \         continue\n    \n    # 方法3: 直接查找JSON数组或对象\n    json_pattern = r'(\\\
          [\\s*\\{.*?\\}\\s*\\])|(\\{\\s*\".*?\"\\s*:\\s*.*?\\})'\n    matches = re.findall(json_pattern,\
          \ text, re.DOTALL)\n    \n    for match in matches:\n        for group in\
          \ match:\n            if group:\n                try:\n                \
          \    json.loads(group.strip())\n                    return group.strip()\n\
          \                except:\n                    continue\n    \n    return\
          \ \"\"\n\ndef main(condition: str) -> Dict[str, Any]:\n    \"\"\"\n    Dify工作流主函数\
          \ - 只解析参数\n    \n    Args:\n        condition: 查询条件字符串\n        \n    Returns:\n\
          \        解析结果字典\n    \"\"\"\n    result = {\n        \"success\": False,\n\
          \        \"message\": \"\",\n        \"params\": {}\n    }\n    \n    try:\n\
          \        if not condition or not isinstance(condition, str):\n         \
          \   result[\"message\"] = \"查询条件为空\"\n            return result\n      \
          \  \n        # 清理和解析条件参数\n        cleaned_condition = clean_json_string(condition)\n\
          \        if not cleaned_condition:\n            # 尝试从AI响应中提取\n         \
          \   cleaned_condition = extract_json_from_ai_response(condition)\n     \
          \   \n        if cleaned_condition:\n            # 尝试解析为JSON\n         \
          \   try:\n                params = json.loads(cleaned_condition)\n     \
          \           if isinstance(params, dict):\n                    result[\"\
          params\"] = params\n                    result[\"success\"] = True\n   \
          \                 result[\"message\"] = \"成功解析JSON参数\"\n               \
          \ else:\n                    result[\"message\"] = \"JSON格式错误：应为对象格式\"\n\
          \            except json.JSONDecodeError as e:\n                result[\"\
          message\"] = f\"JSON解析错误: {e}\"\n        else:\n            # 不是JSON格式，按文本处理\n\
          \            result[\"params\"] = {\"text\": condition.strip()}\n      \
          \      result[\"success\"] = True\n            result[\"message\"] = \"\
          按纯文本处理\"\n        \n        return result\n        \n    except Exception\
          \ as e:\n        result[\"message\"] = f\"条件解析异常: {str(e)}\"\n        return\
          \ result\n        \n# # 独立运行测试\n# if __name__ == \"__main__\":\n#     import\
          \ sys\n    \n#     if len(sys.argv) < 2:\n#         print(\"用法: python param_parser.py\
          \ <condition>\")\n#         print(\"示例1: python param_parser.py '测试客户1,测试客户2'\"\
          )\n#         print(\"示例2: python param_parser.py '{\\\"client_name\\\":\
          \ \\\"测试客户\\\"}'\")\n#         print(\"示例3: python param_parser.py '我认为应该查询测试客户的订单。```json\\\
          \\n{\\\"client_name\\\": \\\"测试客户\\\"}\\\\n```'\")\n#         sys.exit(1)\n\
          \    \n#     condition = sys.argv[1]\n#     result = main(condition)\n#\
          \     print(json.dumps(result, ensure_ascii=False, indent=2))"
        code_language: python3
        outputs:
          message:
            children: null
            type: string
          params:
            children: null
            type: object
          success:
            children: null
            type: boolean
        selected: false
        title: 订单参数提炼为JSON格式
        type: code
        variables:
        - value_selector:
          - '1766635633366'
          - text
          value_type: string
          variable: condition
      height: 52
      id: '1768285919615'
      position:
        x: 1517.5631481425644
        y: 164.00928017283582
      positionAbsolute:
        x: 1517.5631481425644
        y: 164.00928017283582
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "\"\"\"\n客户查询逻辑模块\n专门处理client_name到client_id的转换\n当client_name为空时直接返回\n\
          \"\"\"\n\nimport json\nfrom urllib.parse import urljoin, quote\nimport requests\n\
          from typing import Dict, Any, Tuple, List, Optional\n\ndef query_client_by_name(client_names:\
          \ str, dhb_skey: str, current_manager_api: str) -> Tuple[bool, Optional[str],\
          \ List[str]]:\n    \"\"\"\n    根据客户名称查询client_id\n    \n    Args:\n    \
          \    client_names: 客户名称，多个用逗号分隔\n        dhb_skey: 用户认证密钥\n        current_manager_api:\
          \ 管理API地址\n        \n    Returns:\n        Tuple[是否成功, 错误信息, client_id列表]\n\
          \    \"\"\"\n    if not dhb_skey or not current_manager_api:\n        return\
          \ False, \"认证密钥或API地址为空\", []\n    \n    try:\n        # 确保API地址格式正确\n \
          \       if not current_manager_api.startswith((\"http://\", \"https://\"\
          )):\n            current_manager_api = f\"https://{current_manager_api}\"\
          \n        \n        # 构建客户查询URL\n        encoded_names = quote(client_names.strip())\n\
          \        client_url = urljoin(current_manager_api, f\"/Api/v1/client?page=0&pageSize=100&kw={encoded_names}\"\
          )\n        \n        headers = {\n            \"Content-Type\": \"application/json;\
          \ charset=utf-8\",\n            \"Accept\": \"application/json; charset=utf-8\"\
          \n        }\n        \n        # 添加认证密钥\n        query_params = {\n    \
          \        \"dhb_skey\": dhb_skey\n        }\n        \n        # 发送客户查询请求\n\
          \        response = requests.get(client_url, headers=headers, params=query_params,\
          \ timeout=10.0)\n        response.raise_for_status()\n        \n       \
          \ result = response.json()\n        \n        # 检查响应状态\n        if result.get(\"\
          status\") != \"T\":\n            return False, f\"客户查询失败: {result.get('msg',\
          \ '未知错误')}\", []\n        \n        # 提取客户列表\n        data = result.get(\"\
          data\", {})\n        client_list = data.get(\"list\", [])\n        \n  \
          \      if not client_list:\n            return False, f\"客户没有找到: {client_names}\"\
          , []\n        \n        # 提取client_id\n        client_ids = []\n       \
          \ for client in client_list:\n            client_id = client.get(\"client_id\"\
          )\n            if client_id:\n                client_ids.append(str(client_id))\n\
          \        \n        if not client_ids:\n            return False, f\"未找到有效的client_id:\
          \ {client_names}\", []\n        \n        return True, None, client_ids\n\
          \        \n    except requests.exceptions.Timeout:\n        return False,\
          \ \"客户查询请求超时\", []\n    except requests.exceptions.RequestException as e:\n\
          \        return False, f\"客户查询请求错误: {e}\", []\n    except json.JSONDecodeError\
          \ as e:\n        return False, f\"客户查询JSON解析错误: {e}\", []\n    except Exception\
          \ as e:\n        return False, f\"客户查询异常: {e}\", []\n\ndef process_client_names(params:\
          \ Dict[str, Any], dhb_skey: str, current_manager_api: str) -> Dict[str,\
          \ Any]:\n    \"\"\"\n    处理客户名称查询，将client_name转换为client_id\n    \n    Args:\n\
          \        params: 参数字典，可能包含client_name\n        dhb_skey: 用户认证密钥\n      \
          \  current_manager_api: 管理API地址\n        \n    Returns:\n        处理后的参数字典\n\
          \    \"\"\"\n    result = {\n        \"success\": False,\n        \"message\"\
          : \"\",\n        \"params\": params.copy()  # 复制原始参数\n    }\n    \n    try:\n\
          \        # 检查是否需要查询客户\n        if \"client_name\" not in params:\n     \
          \       result[\"success\"] = True\n            result[\"message\"] = \"\
          参数中无client_name，无需查询客户\"\n            return result\n        \n        client_names\
          \ = params[\"client_name\"]\n        if not client_names or (isinstance(client_names,\
          \ str) and not client_names.strip()):\n            result[\"success\"] =\
          \ True\n            result[\"message\"] = \"client_name为空，跳过查询\"\n     \
          \       return result\n        \n        # 查询客户获取client_id\n        success,\
          \ error_msg, client_ids = query_client_by_name(client_names, dhb_skey, current_manager_api)\n\
          \        \n        if not success:\n            result[\"message\"] = error_msg\n\
          \            return result\n        \n        # 更新参数：添加client_id，保留client_name\n\
          \        if client_ids:\n            result[\"params\"][\"client_id\"] =\
          \ \",\".join(client_ids)\n            result[\"success\"] = True\n     \
          \       result[\"message\"] = f\"成功查询到 {len(client_ids)} 个client_id\"\n\
          \        else:\n            result[\"message\"] = \"查询到client_id列表为空\"\n\
          \        \n        return result\n        \n    except Exception as e:\n\
          \        result[\"message\"] = f\"处理客户名称异常: {str(e)}\"\n        return result\n\
          \ndef main(params: Dict[str, Any], dhb_skey: str, current_manager_api: str)\
          \ -> Dict[str, Any]:\n    \"\"\"\n    Dify工作流主函数 - 客户查询逻辑\n    \n    Args:\n\
          \        params: 参数字典\n        dhb_skey: 用户认证密钥\n        current_manager_api:\
          \ 管理API地址\n        \n    Returns:\n        处理结果\n    \"\"\"\n    return\
          \ process_client_names(params, dhb_skey, current_manager_api)\n\n# 测试代码\n\
          # if __name__ == \"__main__\":\n#     import sys\n    \n#     if len(sys.argv)\
          \ < 4:\n#         print(\"用法: python client_query.py <params_json> <dhb_skey>\
          \ <current_manager_api>\")\n#         print(\"示例: python client_query.py\
          \ '{\\\"client_name\\\": \\\"测试客户\\\"}' 'your_key' 'https://yadmin.example.com'\"\
          )\n#         sys.exit(1)\n    \n#     try:\n#         params = json.loads(sys.argv[1])\n\
          #         dhb_skey = sys.argv[2]\n#         current_manager_api = sys.argv[3]\n\
          \        \n#         result = main(params, dhb_skey, current_manager_api)\n\
          #         print(json.dumps(result, ensure_ascii=False, indent=2))\n#   \
          \  except json.JSONDecodeError as e:\n#         print(f\"JSON解析错误: {e}\"\
          )\n#         sys.exit(1)"
        code_language: python3
        outputs:
          message:
            children: null
            type: string
          params:
            children: null
            type: object
          success:
            children: null
            type: boolean
        selected: false
        title: 订单中客户查询服务
        type: code
        variables:
        - value_selector:
          - '1768285919615'
          - params
          value_type: object
          variable: params
        - value_selector:
          - '1711528914102'
          - dhb_skey
          value_type: string
          variable: dhb_skey
        - value_selector:
          - '1767672490898'
          - current_manager_api
          value_type: string
          variable: current_manager_api
      height: 52
      id: '1768287264784'
      position:
        x: 2326.9851351557963
        y: 56.71238288259207
      positionAbsolute:
        x: 2326.9851351557963
        y: 56.71238288259207
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: is
            id: e2a8e58d-692c-458e-8401-ed106df1ba08
            value: true
            varType: boolean
            variable_selector:
            - '1768285919615'
            - success
          id: 'true'
          logical_operator: and
        selected: false
        title: 订单参数是否解析正确
        type: if-else
      height: 124
      id: '1768289301723'
      position:
        x: 1913.8151912197177
        y: 190.38132515053394
      positionAbsolute:
        x: 1913.8151912197177
        y: 190.38132515053394
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '系统遇到一些错误，请稍后重试。

          {{#1768285919615.message#}}'
        selected: false
        title: 订单参数解析失败
        type: answer
        variables: []
      height: 119
      id: '1768289362995'
      position:
        x: 2326.9851351557963
        y: 246.59492296496626
      positionAbsolute:
        x: 2326.9851351557963
        y: 246.59492296496626
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: is
            id: 940230c5-a5b4-4313-a049-32a6185cba2d
            value: true
            varType: boolean
            variable_selector:
            - '1768287264784'
            - success
          id: 'true'
          logical_operator: and
        selected: false
        title: 订单中客户查询服务判断
        type: if-else
      height: 124
      id: '1768289727753'
      position:
        x: 2690.820092751672
        y: 38.44296359290155
      positionAbsolute:
        x: 2690.820092751672
        y: 38.44296359290155
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '系统遇到一些错误，请稍后重试。

          {{#1768287264784.message#}}'
        selected: false
        title: 订单参数客户参数解析失败
        type: answer
        variables: []
      height: 119
      id: '1768289775987'
      position:
        x: 3105.543464885685
        y: 169.63063995427905
      positionAbsolute:
        x: 3105.543464885685
        y: 169.63063995427905
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: is
            id: 0dc80939-253f-448b-a321-6dfec910fa58
            value: true
            varType: boolean
            variable_selector:
            - '1766636087293'
            - success
          id: 'true'
          logical_operator: and
        selected: false
        title: 订单API查询服务判断
        type: if-else
      height: 124
      id: '1768291928406'
      position:
        x: 3514.9891125597
        y: 21.788700747310685
      positionAbsolute:
        x: 3514.9891125597
        y: 21.788700747310685
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '系统遇到一些错误，请稍后重试。

          {{#1766636087293.message#}}'
        selected: false
        title: 订单API查询服务异常
        type: answer
        variables: []
      height: 119
      id: '1768292241002'
      position:
        x: 3925.496464857632
        y: 209.67336314826392
      positionAbsolute:
        x: 3925.496464857632
        y: 209.67336314826392
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "\"\"\"\n参数解析器\n只负责从条件字符串中提取参数\n\"\"\"\n\nimport json\nimport re\nfrom\
          \ typing import Dict, Any\n\ndef clean_json_string(json_str: str) -> str:\n\
          \    \"\"\"\n    清理JSON字符串，移除AI思考过程和代码块标记\n    \"\"\"\n    if not json_str\
          \ or not isinstance(json_str, str):\n        return \"\"\n    \n    # 查找最后一个```json代码块\n\
          \    pattern = r'```json\\s*\\n(.*?)\\n\\s*```'\n    matches = re.findall(pattern,\
          \ json_str, re.DOTALL)\n    \n    if matches:\n        extracted = matches[-1]\n\
          \        return extracted.strip()\n    \n    # 查找普通的```代码块\n    pattern2\
          \ = r'```\\s*\\n(.*?)\\n\\s*```'\n    matches2 = re.findall(pattern2, json_str,\
          \ re.DOTALL)\n    \n    if matches2:\n        extracted = matches2[-1]\n\
          \        cleaned = extracted.strip()\n        if (cleaned.startswith('[')\
          \ and cleaned.endswith(']')) or \\\n           (cleaned.startswith('{')\
          \ and cleaned.endswith('}')):\n            return cleaned\n    \n    # 如果没有代码块标记，直接返回原始字符串\n\
          \    cleaned_str = json_str.strip()\n    if cleaned_str.startswith('[')\
          \ and cleaned_str.endswith(']'):\n        try:\n            json.loads(cleaned_str)\n\
          \            return cleaned_str\n        except json.JSONDecodeError:\n\
          \            pass\n    \n    if cleaned_str.startswith('{') and cleaned_str.endswith('}'):\n\
          \        try:\n            json.loads(cleaned_str)\n            return cleaned_str\n\
          \        except json.JSONDecodeError:\n            pass\n    \n    return\
          \ \"\"\n\ndef extract_json_from_ai_response(text: str) -> str:\n    \"\"\
          \"\n    专门从AI响应中提取JSON数据\n    \"\"\"\n    if not text or not isinstance(text,\
          \ str):\n        return \"\"\n    \n    # 方法1: 查找```json代码块\n    json_blocks\
          \ = re.findall(r'```json\\s*\\n(.*?)\\n\\s*```', text, re.DOTALL)\n    if\
          \ json_blocks:\n        return json_blocks[-1].strip()\n    \n    # 方法2:\
          \ 查找普通```代码块\n    code_blocks = re.findall(r'```\\s*\\n(.*?)\\n\\s*```',\
          \ text, re.DOTALL)\n    if code_blocks:\n        for block in reversed(code_blocks):\n\
          \            block = block.strip()\n            if (block.startswith('[')\
          \ and block.endswith(']')) or \\\n               (block.startswith('{')\
          \ and block.endswith('}')):\n                try:\n                    json.loads(block)\n\
          \                    return block\n                except:\n           \
          \         continue\n    \n    # 方法3: 直接查找JSON数组或对象\n    json_pattern = r'(\\\
          [\\s*\\{.*?\\}\\s*\\])|(\\{\\s*\".*?\"\\s*:\\s*.*?\\})'\n    matches = re.findall(json_pattern,\
          \ text, re.DOTALL)\n    \n    for match in matches:\n        for group in\
          \ match:\n            if group:\n                try:\n                \
          \    json.loads(group.strip())\n                    return group.strip()\n\
          \                except:\n                    continue\n    \n    return\
          \ \"\"\n\ndef main(condition: str) -> Dict[str, Any]:\n    \"\"\"\n    Dify工作流主函数\
          \ - 只解析参数\n    \n    Args:\n        condition: 查询条件字符串\n        \n    Returns:\n\
          \        解析结果字典\n    \"\"\"\n    result = {\n        \"success\": False,\n\
          \        \"message\": \"\",\n        \"params\": {}\n    }\n    \n    try:\n\
          \        if not condition or not isinstance(condition, str):\n         \
          \   result[\"message\"] = \"查询条件为空\"\n            return result\n      \
          \  \n        # 清理和解析条件参数\n        cleaned_condition = clean_json_string(condition)\n\
          \        if not cleaned_condition:\n            # 尝试从AI响应中提取\n         \
          \   cleaned_condition = extract_json_from_ai_response(condition)\n     \
          \   \n        if cleaned_condition:\n            # 尝试解析为JSON\n         \
          \   try:\n                params = json.loads(cleaned_condition)\n     \
          \           if isinstance(params, dict):\n                    result[\"\
          params\"] = params\n                    result[\"success\"] = True\n   \
          \                 result[\"message\"] = \"成功解析JSON参数\"\n               \
          \ else:\n                    result[\"message\"] = \"JSON格式错误：应为对象格式\"\n\
          \            except json.JSONDecodeError as e:\n                result[\"\
          message\"] = f\"JSON解析错误: {e}\"\n        else:\n            # 不是JSON格式，按文本处理\n\
          \            result[\"params\"] = {\"text\": condition.strip()}\n      \
          \      result[\"success\"] = True\n            result[\"message\"] = \"\
          按纯文本处理\"\n        \n        return result\n        \n    except Exception\
          \ as e:\n        result[\"message\"] = f\"条件解析异常: {str(e)}\"\n        return\
          \ result\n        \n# # 独立运行测试\n# if __name__ == \"__main__\":\n#     import\
          \ sys\n    \n#     if len(sys.argv) < 2:\n#         print(\"用法: python param_parser.py\
          \ <condition>\")\n#         print(\"示例1: python param_parser.py '测试客户1,测试客户2'\"\
          )\n#         print(\"示例2: python param_parser.py '{\\\"client_name\\\":\
          \ \\\"测试客户\\\"}'\")\n#         print(\"示例3: python param_parser.py '我认为应该查询测试客户的订单。```json\\\
          \\n{\\\"client_name\\\": \\\"测试客户\\\"}\\\\n```'\")\n#         sys.exit(1)\n\
          \    \n#     condition = sys.argv[1]\n#     result = main(condition)\n#\
          \     print(json.dumps(result, ensure_ascii=False, indent=2))"
        code_language: python3
        outputs:
          message:
            children: null
            type: string
          params:
            children: null
            type: object
          success:
            children: null
            type: boolean
        selected: false
        title: 退单参数提炼为JSON格式
        type: code
        variables:
        - value_selector:
          - '17678560466480'
          - text
          value_type: string
          variable: condition
      height: 52
      id: '17682934727270'
      position:
        x: 1517.5631481425644
        y: 654.607180844186
      positionAbsolute:
        x: 1517.5631481425644
        y: 654.607180844186
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: is
            id: e2a8e58d-692c-458e-8401-ed106df1ba08
            value: true
            varType: boolean
            variable_selector:
            - '17682934727270'
            - success
          id: 'true'
          logical_operator: and
        selected: false
        title: 退单参数是否解析正确
        type: if-else
      height: 124
      id: '17682937767360'
      position:
        x: 1901.970697228107
        y: 611.0536911082625
      positionAbsolute:
        x: 1901.970697228107
        y: 611.0536911082625
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "\"\"\"\n客户查询逻辑模块\n专门处理client_name到client_id的转换\n当client_name为空时直接返回\n\
          \"\"\"\n\nimport json\nfrom urllib.parse import urljoin, quote\nimport requests\n\
          from typing import Dict, Any, Tuple, List, Optional\n\ndef query_client_by_name(client_names:\
          \ str, dhb_skey: str, current_manager_api: str) -> Tuple[bool, Optional[str],\
          \ List[str]]:\n    \"\"\"\n    根据客户名称查询client_id\n    \n    Args:\n    \
          \    client_names: 客户名称，多个用逗号分隔\n        dhb_skey: 用户认证密钥\n        current_manager_api:\
          \ 管理API地址\n        \n    Returns:\n        Tuple[是否成功, 错误信息, client_id列表]\n\
          \    \"\"\"\n    if not dhb_skey or not current_manager_api:\n        return\
          \ False, \"认证密钥或API地址为空\", []\n    \n    try:\n        # 确保API地址格式正确\n \
          \       if not current_manager_api.startswith((\"http://\", \"https://\"\
          )):\n            current_manager_api = f\"https://{current_manager_api}\"\
          \n        \n        # 构建客户查询URL\n        encoded_names = quote(client_names.strip())\n\
          \        client_url = urljoin(current_manager_api, f\"/Api/v1/client?page=0&pageSize=100&kw={encoded_names}\"\
          )\n        \n        headers = {\n            \"Content-Type\": \"application/json;\
          \ charset=utf-8\",\n            \"Accept\": \"application/json; charset=utf-8\"\
          \n        }\n        \n        # 添加认证密钥\n        query_params = {\n    \
          \        \"dhb_skey\": dhb_skey\n        }\n        \n        # 发送客户查询请求\n\
          \        response = requests.get(client_url, headers=headers, params=query_params,\
          \ timeout=10.0)\n        response.raise_for_status()\n        \n       \
          \ result = response.json()\n        \n        # 检查响应状态\n        if result.get(\"\
          status\") != \"T\":\n            return False, f\"客户查询失败: {result.get('msg',\
          \ '未知错误')}\", []\n        \n        # 提取客户列表\n        data = result.get(\"\
          data\", {})\n        client_list = data.get(\"list\", [])\n        \n  \
          \      if not client_list:\n            return False, f\"客户没有找到: {client_names}\"\
          , []\n        \n        # 提取client_id\n        client_ids = []\n       \
          \ for client in client_list:\n            client_id = client.get(\"client_id\"\
          )\n            if client_id:\n                client_ids.append(str(client_id))\n\
          \        \n        if not client_ids:\n            return False, f\"未找到有效的client_id:\
          \ {client_names}\", []\n        \n        return True, None, client_ids\n\
          \        \n    except requests.exceptions.Timeout:\n        return False,\
          \ \"客户查询请求超时\", []\n    except requests.exceptions.RequestException as e:\n\
          \        return False, f\"客户查询请求错误: {e}\", []\n    except json.JSONDecodeError\
          \ as e:\n        return False, f\"客户查询JSON解析错误: {e}\", []\n    except Exception\
          \ as e:\n        return False, f\"客户查询异常: {e}\", []\n\ndef process_client_names(params:\
          \ Dict[str, Any], dhb_skey: str, current_manager_api: str) -> Dict[str,\
          \ Any]:\n    \"\"\"\n    处理客户名称查询，将client_name转换为client_id\n    \n    Args:\n\
          \        params: 参数字典，可能包含client_name\n        dhb_skey: 用户认证密钥\n      \
          \  current_manager_api: 管理API地址\n        \n    Returns:\n        处理后的参数字典\n\
          \    \"\"\"\n    result = {\n        \"success\": False,\n        \"message\"\
          : \"\",\n        \"params\": params.copy()  # 复制原始参数\n    }\n    \n    try:\n\
          \        # 检查是否需要查询客户\n        if \"client_name\" not in params:\n     \
          \       result[\"success\"] = True\n            result[\"message\"] = \"\
          参数中无client_name，无需查询客户\"\n            return result\n        \n        client_names\
          \ = params[\"client_name\"]\n        if not client_names or (isinstance(client_names,\
          \ str) and not client_names.strip()):\n            result[\"success\"] =\
          \ True\n            result[\"message\"] = \"client_name为空，跳过查询\"\n     \
          \       return result\n        \n        # 查询客户获取client_id\n        success,\
          \ error_msg, client_ids = query_client_by_name(client_names, dhb_skey, current_manager_api)\n\
          \        \n        if not success:\n            result[\"message\"] = error_msg\n\
          \            return result\n        \n        # 更新参数：添加client_id，保留client_name\n\
          \        if client_ids:\n            result[\"params\"][\"client_id\"] =\
          \ \",\".join(client_ids)\n            result[\"success\"] = True\n     \
          \       result[\"message\"] = f\"成功查询到 {len(client_ids)} 个client_id\"\n\
          \        else:\n            result[\"message\"] = \"查询到client_id列表为空\"\n\
          \        \n        return result\n        \n    except Exception as e:\n\
          \        result[\"message\"] = f\"处理客户名称异常: {str(e)}\"\n        return result\n\
          \ndef main(params: Dict[str, Any], dhb_skey: str, current_manager_api: str)\
          \ -> Dict[str, Any]:\n    \"\"\"\n    Dify工作流主函数 - 客户查询逻辑\n    \n    Args:\n\
          \        params: 参数字典\n        dhb_skey: 用户认证密钥\n        current_manager_api:\
          \ 管理API地址\n        \n    Returns:\n        处理结果\n    \"\"\"\n    return\
          \ process_client_names(params, dhb_skey, current_manager_api)\n\n# 测试代码\n\
          # if __name__ == \"__main__\":\n#     import sys\n    \n#     if len(sys.argv)\
          \ < 4:\n#         print(\"用法: python client_query.py <params_json> <dhb_skey>\
          \ <current_manager_api>\")\n#         print(\"示例: python client_query.py\
          \ '{\\\"client_name\\\": \\\"测试客户\\\"}' 'your_key' 'https://yadmin.example.com'\"\
          )\n#         sys.exit(1)\n    \n#     try:\n#         params = json.loads(sys.argv[1])\n\
          #         dhb_skey = sys.argv[2]\n#         current_manager_api = sys.argv[3]\n\
          \        \n#         result = main(params, dhb_skey, current_manager_api)\n\
          #         print(json.dumps(result, ensure_ascii=False, indent=2))\n#   \
          \  except json.JSONDecodeError as e:\n#         print(f\"JSON解析错误: {e}\"\
          )\n#         sys.exit(1)"
        code_language: python3
        outputs:
          message:
            children: null
            type: string
          params:
            children: null
            type: object
          success:
            children: null
            type: boolean
        selected: false
        title: 退单中客户查询服务
        type: code
        variables:
        - value_selector:
          - '17682934727270'
          - params
          value_type: object
          variable: params
        - value_selector:
          - '1711528914102'
          - dhb_skey
          value_type: string
          variable: dhb_skey
        - value_selector:
          - '1767672490898'
          - current_manager_api
          value_type: string
          variable: current_manager_api
      height: 52
      id: '17682938026260'
      position:
        x: 2326.9851351557963
        y: 574.5148525288812
      positionAbsolute:
        x: 2326.9851351557963
        y: 574.5148525288812
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '系统遇到一些错误，请稍后重试。

          {{#17682934727270.message#}}'
        selected: false
        title: 退单参数解析失败
        type: answer
        variables: []
      height: 119
      id: '17682938069040'
      position:
        x: 2326.9851351557963
        y: 693.9687478845503
      positionAbsolute:
        x: 2326.9851351557963
        y: 693.9687478845503
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: is
            id: 940230c5-a5b4-4313-a049-32a6185cba2d
            value: true
            varType: boolean
            variable_selector:
            - '17682938026260'
            - success
          id: 'true'
          logical_operator: and
        selected: false
        title: 退单中客户查询服务判断
        type: if-else
      height: 124
      id: '17682938642950'
      position:
        x: 2667.880967449749
        y: 522.5172745505313
      positionAbsolute:
        x: 2667.880967449749
        y: 522.5172745505313
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '系统遇到一些错误，请稍后重试。

          {{#17682938026260.success#}}'
        selected: false
        title: 退单参数客户参数解析失败
        type: answer
        variables: []
      height: 119
      id: '17682938699440'
      position:
        x: 3076.8348915497445
        y: 626.5124305072313
      positionAbsolute:
        x: 3076.8348915497445
        y: 626.5124305072313
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "\"\"\"\n退货单查询模块\n接收处理后的参数，查询退货单并返回结果\n\"\"\"\n\nimport json\nfrom urllib.parse\
          \ import urlencode, urljoin\nimport requests\nfrom typing import Dict, Any,\
          \ List\nfrom datetime import datetime, timedelta\n\ndef build_order_query_params(condition_data:\
          \ Dict[str, Any]) -> Dict[str, Any]:\n    \"\"\"\n    构建退货单查询参数\n    \n\
          \    Args:\n        condition_data: 条件参数字典\n        \n    Returns:\n   \
          \     构建好的查询参数\n    \"\"\"\n    # 默认参数\n    params = {\n        \"page\"\
          : 1,\n        \"pageSize\": 10\n    }\n    \n    # 从条件数据中提取参数\n    if condition_data:\n\
          \        for key, value in condition_data.items():\n            if value\
          \ is not None and value != \"\":\n                if key == \"type\" and\
          \ value == \"return\":\n                    continue\n\n               \
          \ if key == \"action\":\n                    continue\n\n              \
          \  # 处理时间参数\n                if key in [\"start_time\", \"start_time_end\"\
          ]:\n                    params[key] = str(value).replace(\" \", \"+\")\n\
          \                else:\n                    params[key] = str(value)\n \
          \   \n    # 如果没有提供start_time，则设置默认值为最近一个月\n    if \"start_time\" not in\
          \ params:\n        one_month_ago = datetime.now() - timedelta(days=30)\n\
          \        params[\"start_time\"] = one_month_ago.strftime(\"%Y-%m-%d+00:00\"\
          )\n    \n    return params\n\ndef make_api_request(params: Dict[str, Any],\
          \ dhb_skey: str, current_manager_api: str) -> Dict[str, Any]:\n    \"\"\"\
          \n    调用退货单查询API接口\n    \n    Args:\n        params: 查询参数\n        dhb_skey:\
          \ 用户认证密钥\n        current_manager_api: 管理API地址\n        \n    Returns:\n\
          \        API响应数据\n    \"\"\"\n    if not current_manager_api:\n        return\
          \ {}\n    \n    try:\n        # 构建完整的退货单查询URL\n        order_endpoint =\
          \ \"/RestfulApi/returns\"\n        base_url = urljoin(current_manager_api,\
          \ order_endpoint)\n        \n        # 添加认证密钥\n        query_params = params.copy()\n\
          \        if dhb_skey and dhb_skey.strip():\n            query_params[\"\
          dhb_skey\"] = dhb_skey\n        \n        # 构建完整URL\n        query_string\
          \ = urlencode(query_params, doseq=True, safe='+')\n        full_url = f\"\
          {base_url}?{query_string}\"\n        \n        headers = {\n           \
          \ \"Content-Type\": \"application/json; charset=utf-8\",\n            \"\
          Accept\": \"application/json; charset=utf-8\"\n        }\n        \n   \
          \     # 发送请求\n        response = requests.get(full_url, headers=headers,\
          \ timeout=30.0)\n        response.raise_for_status()\n        \n       \
          \ return response.json()\n        \n    except requests.exceptions.Timeout:\n\
          \        return dict(code=-1, msg=\"API请求超时\", message=\"API请求超时\")\n    except requests.exceptions.RequestException as e:\n\
          \        error_message = f\"API请求异常: {str(e)}\"\n        return dict(code=-1, msg=error_message, message=error_message)\n    except json.JSONDecodeError as e:\n\
          \        error_message = f\"API返回非JSON: {str(e)}\"\n        return dict(code=-1, msg=error_message, message=error_message)\n    except Exception as e:\n\
          \        error_message = f\"API请求处理异常: {str(e)}\"\n        return dict(code=-1, msg=error_message, message=error_message)\n\ndef format_orders_text(orders:\
          \ List[Dict[str, Any]]) -> str:\n    \"\"\"\n    格式化退货单信息为文本\n    \"\"\"\
          \n    if not orders:\n        return \"暂无退货单数据\"\n    \n    try:\n     \
          \   texts = []\n        for i, order in enumerate(orders[:30], 1):  # 最多显示30个退货单\n\
          \            orders_num = order.get(\"returns_num\", \"N/A\")\n        \
          \    text = f\"{orders_num}\"\n            texts.append(text)\n        \n\
          \        return \",\".join(texts)\n        \n    except Exception as e:\n\
          \        return f\"共{len(orders)}条退货单数据（注意：当前每次最多返回10条）\"\n\ndef query_orders(params:\
          \ Dict[str, Any], dhb_skey: str, current_manager_api: str) -> Dict[str,\
          \ Any]:\n    \"\"\"\n    查询退货单\n    \n    Args:\n        params: 查询参数字典\n\
          \        dhb_skey: 用户认证密钥\n        current_manager_api: 管理API地址\n      \
          \  \n    Returns:\n        查询结果字典\n    \"\"\"\n    result = {\n        \"\
          success\": False,\n        \"message\": \"\",\n        \"ai_agent_manager_return\"\
          : [],\n        \"ai_agent_manager_return_text\": \"\"\n    }\n    \n   \
          \ try:\n        # 验证必要参数\n        if not dhb_skey or not dhb_skey.strip():\n\
          \            result[\"message\"] = \"认证密钥无效\"\n            return result\n\
          \        \n        if not current_manager_api or not current_manager_api.strip():\n\
          \            result[\"message\"] = \"API地址无效\"\n            return result\n\
          \        \n        # 确保API地址格式正确\n        if not current_manager_api.startswith((\"\
          http://\", \"https://\")):\n            current_manager_api = f\"https://{current_manager_api}\"\
          \n        \n        # 构建查询参数\n        query_params = build_order_query_params(params)\n\
          \        \n        # 调用退货单查询API\n        api_response = make_api_request(query_params,\
          \ dhb_skey, current_manager_api)\n        \n        if not api_response\
          \ or not isinstance(api_response, dict):\n            result[\"message\"\
          ] = \"API返回数据无效\"\n            return result\n        \n        # 检查API响应状态\n\
          \        if api_response.get(\"code\") != 200:\n            msg = api_response.get(\"\
          msg\") or api_response.get(\"message\", \"API请求失败\")\n            result[\"\
          message\"] = f\"API请求失败: {msg}\"\n            return result\n        \n\
          \        # 提取退货单数据\n        data = api_response.get(\"data\", {})\n    \
          \    if not isinstance(data, dict):\n            result[\"message\"] = \"\
          API返回数据格式错误\"\n            return result\n        \n        orders = data.get(\"\
          list\", [])\n        if not isinstance(orders, list):\n            orders\
          \ = []\n        \n        # 设置返回结果\n        result[\"success\"] = True\n\
          \        result[\"message\"] = f\"查询成功，共{len(orders)}条退货单（注意：当前每次最多返回10条）\"\
          \n        result[\"ai_agent_manager_return\"] = orders\n        result[\"\
          ai_agent_manager_return_text\"] = format_orders_text(orders)\n        \n\
          \        return result\n        \n    except Exception as e:\n        result[\"\
          message\"] = f\"处理退货单查询时发生错误: {str(e)}\"\n        return result\n\ndef main(params:\
          \ Dict[str, Any], dhb_skey: str, current_manager_api: str) -> Dict[str,\
          \ Any]:\n    \"\"\"\n    Dify工作流主函数 - 退货单查询逻辑\n    \n    Args:\n       \
          \ params: 查询参数字典\n        dhb_skey: 用户认证密钥\n        current_manager_api:\
          \ 管理API地址\n        \n    Returns:\n        查询结果\n    \"\"\"\n    return\
          \ query_orders(params, dhb_skey, current_manager_api)\n\n# 测试代码\n# if __name__\
          \ == \"__main__\":\n#     import sys\n    \n#     if len(sys.argv) < 4:\n\
          #         print(\"用法: python order_query.py <params_json> <dhb_skey> <current_manager_api>\"\
          )\n#         print(\"示例: python order_query.py '{\\\"client_id\\\": \\\"\
          1,2\\\"}' 'your_key' 'https://yadmin.example.com'\")\n#         sys.exit(1)\n\
          \    \n#     try:\n#         params = json.loads(sys.argv[1])\n#       \
          \  dhb_skey = sys.argv[2]\n#         current_manager_api = sys.argv[3]\n\
          \        \n#         result = main(params, dhb_skey, current_manager_api)\n\
          #         print(json.dumps(result, ensure_ascii=False, indent=2))\n#   \
          \  except json.JSONDecodeError as e:\n#         print(f\"JSON解析错误: {e}\"\
          )\n#         sys.exit(1)"
        code_language: python3
        outputs:
          ai_agent_manager_return:
            children: null
            type: array[object]
          ai_agent_manager_return_text:
            children: null
            type: string
          message:
            children: null
            type: string
          success:
            children: null
            type: boolean
        selected: false
        title: 退单API查询服务
        type: code
        variables:
        - value_selector:
          - '17682938026260'
          - params
          value_type: object
          variable: params
        - value_selector:
          - '1711528914102'
          - dhb_skey
          value_type: string
          variable: dhb_skey
        - value_selector:
          - '1767672490898'
          - current_manager_api
          value_type: string
          variable: current_manager_api
      height: 52
      id: '17682938772640'
      position:
        x: 3076.8348915497445
        y: 511.2745549876447
      positionAbsolute:
        x: 3076.8348915497445
        y: 511.2745549876447
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: is
            id: 0dc80939-253f-448b-a321-6dfec910fa58
            value: true
            varType: boolean
            variable_selector:
            - '17682938772640'
            - success
          id: 'true'
          logical_operator: and
        selected: false
        title: 退单API查询服务判断
        type: if-else
      height: 124
      id: '17682943201120'
      position:
        x: 3499.842215103349
        y: 485.97843597114996
      positionAbsolute:
        x: 3499.842215103349
        y: 485.97843597114996
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '系统遇到一些错误，请稍后重试。

          {{#17682938772640.message#}}'
        selected: false
        title: 退单API查询服务异常
        type: answer
        variables: []
      height: 119
      id: '17682943316860'
      position:
        x: 3925.496464857632
        y: 635.0505124127432
      positionAbsolute:
        x: 3925.496464857632
        y: 635.0505124127432
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "\"\"\"\n参数解析器\n只负责从条件字符串中提取参数\n\"\"\"\n\nimport json\nimport re\nfrom\
          \ typing import Dict, Any\n\ndef clean_json_string(json_str: str) -> str:\n\
          \    \"\"\"\n    清理JSON字符串，移除AI思考过程和代码块标记\n    \"\"\"\n    if not json_str\
          \ or not isinstance(json_str, str):\n        return \"\"\n    \n    # 查找最后一个```json代码块\n\
          \    pattern = r'```json\\s*\\n(.*?)\\n\\s*```'\n    matches = re.findall(pattern,\
          \ json_str, re.DOTALL)\n    \n    if matches:\n        extracted = matches[-1]\n\
          \        return extracted.strip()\n    \n    # 查找普通的```代码块\n    pattern2\
          \ = r'```\\s*\\n(.*?)\\n\\s*```'\n    matches2 = re.findall(pattern2, json_str,\
          \ re.DOTALL)\n    \n    if matches2:\n        extracted = matches2[-1]\n\
          \        cleaned = extracted.strip()\n        if (cleaned.startswith('[')\
          \ and cleaned.endswith(']')) or \\\n           (cleaned.startswith('{')\
          \ and cleaned.endswith('}')):\n            return cleaned\n    \n    # 如果没有代码块标记，直接返回原始字符串\n\
          \    cleaned_str = json_str.strip()\n    if cleaned_str.startswith('[')\
          \ and cleaned_str.endswith(']'):\n        try:\n            json.loads(cleaned_str)\n\
          \            return cleaned_str\n        except json.JSONDecodeError:\n\
          \            pass\n    \n    if cleaned_str.startswith('{') and cleaned_str.endswith('}'):\n\
          \        try:\n            json.loads(cleaned_str)\n            return cleaned_str\n\
          \        except json.JSONDecodeError:\n            pass\n    \n    return\
          \ \"\"\n\ndef extract_json_from_ai_response(text: str) -> str:\n    \"\"\
          \"\n    专门从AI响应中提取JSON数据\n    \"\"\"\n    if not text or not isinstance(text,\
          \ str):\n        return \"\"\n    \n    # 方法1: 查找```json代码块\n    json_blocks\
          \ = re.findall(r'```json\\s*\\n(.*?)\\n\\s*```', text, re.DOTALL)\n    if\
          \ json_blocks:\n        return json_blocks[-1].strip()\n    \n    # 方法2:\
          \ 查找普通```代码块\n    code_blocks = re.findall(r'```\\s*\\n(.*?)\\n\\s*```',\
          \ text, re.DOTALL)\n    if code_blocks:\n        for block in reversed(code_blocks):\n\
          \            block = block.strip()\n            if (block.startswith('[')\
          \ and block.endswith(']')) or \\\n               (block.startswith('{')\
          \ and block.endswith('}')):\n                try:\n                    json.loads(block)\n\
          \                    return block\n                except:\n           \
          \         continue\n    \n    # 方法3: 直接查找JSON数组或对象\n    json_pattern = r'(\\\
          [\\s*\\{.*?\\}\\s*\\])|(\\{\\s*\".*?\"\\s*:\\s*.*?\\})'\n    matches = re.findall(json_pattern,\
          \ text, re.DOTALL)\n    \n    for match in matches:\n        for group in\
          \ match:\n            if group:\n                try:\n                \
          \    json.loads(group.strip())\n                    return group.strip()\n\
          \                except:\n                    continue\n    \n    return\
          \ \"\"\n\ndef main(condition: str) -> Dict[str, Any]:\n    \"\"\"\n    Dify工作流主函数\
          \ - 只解析参数\n    \n    Args:\n        condition: 查询条件字符串\n        \n    Returns:\n\
          \        解析结果字典\n    \"\"\"\n    result = {\n        \"success\": False,\n\
          \        \"message\": \"\",\n        \"params\": {}\n    }\n    \n    try:\n\
          \        if not condition or not isinstance(condition, str):\n         \
          \   result[\"message\"] = \"查询条件为空\"\n            return result\n      \
          \  \n        # 清理和解析条件参数\n        cleaned_condition = clean_json_string(condition)\n\
          \        if not cleaned_condition:\n            # 尝试从AI响应中提取\n         \
          \   cleaned_condition = extract_json_from_ai_response(condition)\n     \
          \   \n        if cleaned_condition:\n            # 尝试解析为JSON\n         \
          \   try:\n                params = json.loads(cleaned_condition)\n     \
          \           if isinstance(params, dict):\n                    result[\"\
          params\"] = params\n                    result[\"success\"] = True\n   \
          \                 result[\"message\"] = \"成功解析JSON参数\"\n               \
          \ else:\n                    result[\"message\"] = \"JSON格式错误：应为对象格式\"\n\
          \            except json.JSONDecodeError as e:\n                result[\"\
          message\"] = f\"JSON解析错误: {e}\"\n        else:\n            # 不是JSON格式，按文本处理\n\
          \            result[\"params\"] = {\"text\": condition.strip()}\n      \
          \      result[\"success\"] = True\n            result[\"message\"] = \"\
          按纯文本处理\"\n        \n        return result\n        \n    except Exception\
          \ as e:\n        result[\"message\"] = f\"条件解析异常: {str(e)}\"\n        return\
          \ result\n        \n# # 独立运行测试\n# if __name__ == \"__main__\":\n#     import\
          \ sys\n    \n#     if len(sys.argv) < 2:\n#         print(\"用法: python param_parser.py\
          \ <condition>\")\n#         print(\"示例1: python param_parser.py '测试客户1,测试客户2'\"\
          )\n#         print(\"示例2: python param_parser.py '{\\\"client_name\\\":\
          \ \\\"测试客户\\\"}'\")\n#         print(\"示例3: python param_parser.py '我认为应该查询测试客户的订单。```json\\\
          \\n{\\\"client_name\\\": \\\"测试客户\\\"}\\\\n```'\")\n#         sys.exit(1)\n\
          \    \n#     condition = sys.argv[1]\n#     result = main(condition)\n#\
          \     print(json.dumps(result, ensure_ascii=False, indent=2))"
        code_language: python3
        outputs:
          message:
            children: null
            type: string
          params:
            children: null
            type: object
          success:
            children: null
            type: boolean
        selected: false
        title: 商品参数提炼为JSON格式
        type: code
        variables:
        - value_selector:
          - '17679218459970'
          - text
          value_type: string
          variable: condition
      height: 52
      id: '17682951305190'
      position:
        x: 1511.2861924178032
        y: 1138.7514422206723
      positionAbsolute:
        x: 1511.2861924178032
        y: 1138.7514422206723
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: is
            id: e2a8e58d-692c-458e-8401-ed106df1ba08
            value: true
            varType: boolean
            variable_selector:
            - '17682951305190'
            - success
          id: 'true'
          logical_operator: and
        selected: false
        title: 商品参数是否解析正确
        type: if-else
      height: 124
      id: '17682951337040'
      position:
        x: 1918.9593659948387
        y: 1112.0593214393955
      positionAbsolute:
        x: 1918.9593659948387
        y: 1112.0593214393955
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '系统遇到一些错误，请稍后重试。

          {{#17682951305190.message#}}'
        selected: false
        title: 商品参数解析失败
        type: answer
        variables: []
      height: 119
      id: '17682952052450'
      position:
        x: 2326.9851351557963
        y: 1189.1355131251094
      positionAbsolute:
        x: 2326.9851351557963
        y: 1189.1355131251094
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "\"\"\"\n商品查询模块\n接收处理后的参数，查询商品并返回结果\n\"\"\"\n\nimport json\nfrom urllib.parse\
          \ import urlencode, urljoin\nimport requests\nfrom typing import Dict, Any,\
          \ List\nfrom datetime import datetime, timedelta\n\ndef build_order_query_params(condition_data:\
          \ Dict[str, Any]) -> Dict[str, Any]:\n    \"\"\"\n    构建商品查询参数\n    \n \
          \   Args:\n        condition_data: 条件参数字典\n        \n    Returns:\n    \
          \    构建好的查询参数\n    \"\"\"\n    # 默认参数\n    params = {\n        \"page\"\
          : 1,\n        \"pageSize\": 10\n    }\n    \n    # 从条件数据中提取参数\n    if condition_data:\n\
          \        for key, value in condition_data.items():\n            if value\
          \ is not None and value != \"\":\n                if key == \"type\" and\
          \ value == \"goods\":\n                    continue\n\n                if\
          \ key == \"action\":\n                    continue\n\n                #\
          \ 处理时间参数\n                params[key] = str(value)\n    \n    return params\n\
          \ndef make_api_request(params: Dict[str, Any], dhb_skey: str, current_manager_api:\
          \ str) -> Dict[str, Any]:\n    \"\"\"\n    调用商品查询API接口\n    \n    Args:\n\
          \        params: 查询参数\n        dhb_skey: 用户认证密钥\n        current_manager_api:\
          \ 管理API地址\n        \n    Returns:\n        API响应数据\n    \"\"\"\n    if not\
          \ current_manager_api:\n        return {}\n    \n    try:\n        # 构建完整的商品查询URL\n\
          \        order_endpoint = \"/RestfulApi/goods\"\n        base_url = urljoin(current_manager_api,\
          \ order_endpoint)\n        \n        # 添加认证密钥\n        query_params = params.copy()\n\
          \        if dhb_skey and dhb_skey.strip():\n            query_params[\"\
          dhb_skey\"] = dhb_skey\n        \n        # 构建完整URL\n        query_string\
          \ = urlencode(query_params, doseq=True, safe='+')\n        full_url = f\"\
          {base_url}?{query_string}\"\n        \n        headers = {\n           \
          \ \"Content-Type\": \"application/json; charset=utf-8\",\n            \"\
          Accept\": \"application/json; charset=utf-8\"\n        }\n        \n   \
          \     # 发送请求\n        response = requests.get(full_url, headers=headers,\
          \ timeout=30.0)\n        response.raise_for_status()\n        \n       \
          \ return response.json()\n        \n    except requests.exceptions.Timeout:\n\
          \        return dict(code=-1, msg=\"API请求超时\", message=\"API请求超时\")\n    except requests.exceptions.RequestException as e:\n\
          \        error_message = f\"API请求异常: {str(e)}\"\n        return dict(code=-1, msg=error_message, message=error_message)\n    except json.JSONDecodeError as e:\n\
          \        error_message = f\"API返回非JSON: {str(e)}\"\n        return dict(code=-1, msg=error_message, message=error_message)\n    except Exception as e:\n\
          \        error_message = f\"API请求处理异常: {str(e)}\"\n        return dict(code=-1, msg=error_message, message=error_message)\n\ndef format_orders_text(orders:\
          \ List[Dict[str, Any]]) -> str:\n    \"\"\"\n    格式化商品信息为文本\n    \"\"\"\n\
          \    if not orders:\n        return \"暂无商品数据\"\n    \n    try:\n       \
          \ texts = []\n        for i, order in enumerate(orders[:30], 1):  # 最多显示30个商品\n\
          \            goods_name = order.get(\"goods_name\", \"N/A\")\n         \
          \   text = f\"{goods_name}\"\n            texts.append(text)\n        \n\
          \        return \",\".join(texts)\n        \n    except Exception as e:\n\
          \        return f\"共{len(orders)}条商品数据（注意：当前每次最多返回10条）\"\n\ndef query_orders(params:\
          \ Dict[str, Any], dhb_skey: str, current_manager_api: str) -> Dict[str,\
          \ Any]:\n    \"\"\"\n    查询商品\n    \n    Args:\n        params: 查询参数字典\n\
          \        dhb_skey: 用户认证密钥\n        current_manager_api: 管理API地址\n      \
          \  \n    Returns:\n        查询结果字典\n    \"\"\"\n    result = {\n        \"\
          success\": False,\n        \"message\": \"\",\n        \"ai_agent_manager_goods\"\
          : [],\n        \"ai_agent_manager_goods_text\": \"\"\n    }\n    \n    try:\n\
          \        # 验证必要参数\n        if not dhb_skey or not dhb_skey.strip():\n  \
          \          result[\"message\"] = \"认证密钥无效\"\n            return result\n\
          \        \n        if not current_manager_api or not current_manager_api.strip():\n\
          \            result[\"message\"] = \"API地址无效\"\n            return result\n\
          \        \n        # 确保API地址格式正确\n        if not current_manager_api.startswith((\"\
          http://\", \"https://\")):\n            current_manager_api = f\"https://{current_manager_api}\"\
          \n        \n        # 构建查询参数\n        query_params = build_order_query_params(params)\n\
          \        \n        # 调用商品查询API\n        api_response = make_api_request(query_params,\
          \ dhb_skey, current_manager_api)\n        \n        if not api_response\
          \ or not isinstance(api_response, dict):\n            result[\"message\"\
          ] = \"API返回数据无效\"\n            return result\n        \n        # 检查API响应状态\n\
          \        if api_response.get(\"code\") != 200:\n            msg = api_response.get(\"\
          msg\") or api_response.get(\"message\", \"API请求失败\")\n            result[\"\
          message\"] = f\"API请求失败: {msg}\"\n            return result\n        \n\
          \        # 提取商品数据\n        data = api_response.get(\"data\", {})\n     \
          \   if not isinstance(data, dict):\n            result[\"message\"] = \"\
          API返回数据格式错误\"\n            return result\n        \n        orders = data.get(\"\
          list\", [])\n        if not isinstance(orders, list):\n            orders\
          \ = []\n        \n        # 设置返回结果\n        result[\"success\"] = True\n\
          \        result[\"message\"] = f\"查询成功，共{len(orders)}条商品\"\n        result[\"\
          ai_agent_manager_goods\"] = orders\n        result[\"ai_agent_manager_goods_text\"\
          ] = format_orders_text(orders)\n        \n        return result\n      \
          \  \n    except Exception as e:\n        result[\"message\"] = f\"处理商品查询时发生错误:\
          \ {str(e)}\"\n        return result\n\ndef main(params: Dict[str, Any],\
          \ dhb_skey: str, current_manager_api: str) -> Dict[str, Any]:\n    \"\"\"\
          \n    Dify工作流主函数 - 商品查询逻辑\n    \n    Args:\n        params: 查询参数字典\n   \
          \     dhb_skey: 用户认证密钥\n        current_manager_api: 管理API地址\n        \n\
          \    Returns:\n        查询结果\n    \"\"\"\n    return query_orders(params,\
          \ dhb_skey, current_manager_api)\n\n# 测试代码\n# if __name__ == \"__main__\"\
          :\n#     import sys\n    \n#     if len(sys.argv) < 4:\n#         print(\"\
          用法: python order_query.py <params_json> <dhb_skey> <current_manager_api>\"\
          )\n#         print(\"示例: python order_query.py '{\\\"client_id\\\": \\\"\
          1,2\\\"}' 'your_key' 'https://yadmin.example.com'\")\n#         sys.exit(1)\n\
          \    \n#     try:\n#         params = json.loads(sys.argv[1])\n#       \
          \  dhb_skey = sys.argv[2]\n#         current_manager_api = sys.argv[3]\n\
          \        \n#         result = main(params, dhb_skey, current_manager_api)\n\
          #         print(json.dumps(result, ensure_ascii=False, indent=2))\n#   \
          \  except json.JSONDecodeError as e:\n#         print(f\"JSON解析错误: {e}\"\
          )\n#         sys.exit(1)"
        code_language: python3
        outputs:
          ai_agent_manager_goods:
            children: null
            type: array[object]
          ai_agent_manager_goods_text:
            children: null
            type: string
          message:
            children: null
            type: string
          success:
            children: null
            type: boolean
        selected: false
        title: 商品API查询服务
        type: code
        variables:
        - value_selector:
          - '17682951305190'
          - params
          value_type: object
          variable: params
        - value_selector:
          - '1711528914102'
          - dhb_skey
          value_type: string
          variable: dhb_skey
        - value_selector:
          - '1767672490898'
          - current_manager_api
          value_type: string
          variable: current_manager_api
      height: 52
      id: '17682952281620'
      position:
        x: 2326.9851351557963
        y: 1057.0335582611935
      positionAbsolute:
        x: 2326.9851351557963
        y: 1057.0335582611935
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: is
            id: 0dc80939-253f-448b-a321-6dfec910fa58
            value: true
            varType: boolean
            variable_selector:
            - '17682952281620'
            - success
          id: 'true'
          logical_operator: and
        selected: false
        title: 商品API查询服务判断
        type: if-else
      height: 124
      id: '17682952423730'
      position:
        x: 2674.907667176553
        y: 1031.7374392446986
      positionAbsolute:
        x: 2674.907667176553
        y: 1031.7374392446986
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '系统遇到一些错误，请稍后重试。

          {{#17682952281620.message#}}'
        selected: false
        title: 商品API查询服务异常
        type: answer
        variables: []
      height: 119
      id: '17682952537970'
      position:
        x: 3092.2936309487127
        y: 1174.501755340275
      positionAbsolute:
        x: 3092.2936309487127
        y: 1174.501755340275
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "\"\"\"\n参数解析器\n只负责从条件字符串中提取参数\n\"\"\"\n\nimport json\nimport re\nfrom\
          \ typing import Dict, Any\n\ndef clean_json_string(json_str: str) -> str:\n\
          \    \"\"\"\n    清理JSON字符串，移除AI思考过程和代码块标记\n    \"\"\"\n    if not json_str\
          \ or not isinstance(json_str, str):\n        return \"\"\n    \n    # 查找最后一个```json代码块\n\
          \    pattern = r'```json\\s*\\n(.*?)\\n\\s*```'\n    matches = re.findall(pattern,\
          \ json_str, re.DOTALL)\n    \n    if matches:\n        extracted = matches[-1]\n\
          \        return extracted.strip()\n    \n    # 查找普通的```代码块\n    pattern2\
          \ = r'```\\s*\\n(.*?)\\n\\s*```'\n    matches2 = re.findall(pattern2, json_str,\
          \ re.DOTALL)\n    \n    if matches2:\n        extracted = matches2[-1]\n\
          \        cleaned = extracted.strip()\n        if (cleaned.startswith('[')\
          \ and cleaned.endswith(']')) or \\\n           (cleaned.startswith('{')\
          \ and cleaned.endswith('}')):\n            return cleaned\n    \n    # 如果没有代码块标记，直接返回原始字符串\n\
          \    cleaned_str = json_str.strip()\n    if cleaned_str.startswith('[')\
          \ and cleaned_str.endswith(']'):\n        try:\n            json.loads(cleaned_str)\n\
          \            return cleaned_str\n        except json.JSONDecodeError:\n\
          \            pass\n    \n    if cleaned_str.startswith('{') and cleaned_str.endswith('}'):\n\
          \        try:\n            json.loads(cleaned_str)\n            return cleaned_str\n\
          \        except json.JSONDecodeError:\n            pass\n    \n    return\
          \ \"\"\n\ndef extract_json_from_ai_response(text: str) -> str:\n    \"\"\
          \"\n    专门从AI响应中提取JSON数据\n    \"\"\"\n    if not text or not isinstance(text,\
          \ str):\n        return \"\"\n    \n    # 方法1: 查找```json代码块\n    json_blocks\
          \ = re.findall(r'```json\\s*\\n(.*?)\\n\\s*```', text, re.DOTALL)\n    if\
          \ json_blocks:\n        return json_blocks[-1].strip()\n    \n    # 方法2:\
          \ 查找普通```代码块\n    code_blocks = re.findall(r'```\\s*\\n(.*?)\\n\\s*```',\
          \ text, re.DOTALL)\n    if code_blocks:\n        for block in reversed(code_blocks):\n\
          \            block = block.strip()\n            if (block.startswith('[')\
          \ and block.endswith(']')) or \\\n               (block.startswith('{')\
          \ and block.endswith('}')):\n                try:\n                    json.loads(block)\n\
          \                    return block\n                except:\n           \
          \         continue\n    \n    # 方法3: 直接查找JSON数组或对象\n    json_pattern = r'(\\\
          [\\s*\\{.*?\\}\\s*\\])|(\\{\\s*\".*?\"\\s*:\\s*.*?\\})'\n    matches = re.findall(json_pattern,\
          \ text, re.DOTALL)\n    \n    for match in matches:\n        for group in\
          \ match:\n            if group:\n                try:\n                \
          \    json.loads(group.strip())\n                    return group.strip()\n\
          \                except:\n                    continue\n    \n    return\
          \ \"\"\n\ndef main(condition: str) -> Dict[str, Any]:\n    \"\"\"\n    Dify工作流主函数\
          \ - 只解析参数\n    \n    Args:\n        condition: 查询条件字符串\n        \n    Returns:\n\
          \        解析结果字典\n    \"\"\"\n    result = {\n        \"success\": False,\n\
          \        \"message\": \"\",\n        \"params\": {}\n    }\n    \n    try:\n\
          \        if not condition or not isinstance(condition, str):\n         \
          \   result[\"message\"] = \"查询条件为空\"\n            return result\n      \
          \  \n        # 清理和解析条件参数\n        cleaned_condition = clean_json_string(condition)\n\
          \        if not cleaned_condition:\n            # 尝试从AI响应中提取\n         \
          \   cleaned_condition = extract_json_from_ai_response(condition)\n     \
          \   \n        if cleaned_condition:\n            # 尝试解析为JSON\n         \
          \   try:\n                params = json.loads(cleaned_condition)\n     \
          \           if isinstance(params, dict):\n                    result[\"\
          params\"] = params\n                    result[\"success\"] = True\n   \
          \                 result[\"message\"] = \"成功解析JSON参数\"\n               \
          \ else:\n                    result[\"message\"] = \"JSON格式错误：应为对象格式\"\n\
          \            except json.JSONDecodeError as e:\n                result[\"\
          message\"] = f\"JSON解析错误: {e}\"\n        else:\n            # 不是JSON格式，按文本处理\n\
          \            result[\"params\"] = {\"text\": condition.strip()}\n      \
          \      result[\"success\"] = True\n            result[\"message\"] = \"\
          按纯文本处理\"\n        \n        return result\n        \n    except Exception\
          \ as e:\n        result[\"message\"] = f\"条件解析异常: {str(e)}\"\n        return\
          \ result\n        \n# # 独立运行测试\n# if __name__ == \"__main__\":\n#     import\
          \ sys\n    \n#     if len(sys.argv) < 2:\n#         print(\"用法: python param_parser.py\
          \ <condition>\")\n#         print(\"示例1: python param_parser.py '测试客户1,测试客户2'\"\
          )\n#         print(\"示例2: python param_parser.py '{\\\"client_name\\\":\
          \ \\\"测试客户\\\"}'\")\n#         print(\"示例3: python param_parser.py '我认为应该查询测试客户的订单。```json\\\
          \\n{\\\"client_name\\\": \\\"测试客户\\\"}\\\\n```'\")\n#         sys.exit(1)\n\
          \    \n#     condition = sys.argv[1]\n#     result = main(condition)\n#\
          \     print(json.dumps(result, ensure_ascii=False, indent=2))"
        code_language: python3
        outputs:
          message:
            children: null
            type: string
          params:
            children: null
            type: object
          success:
            children: null
            type: boolean
        selected: false
        title: 客户参数提炼为JSON格式
        type: code
        variables:
        - value_selector:
          - '17679223188780'
          - text
          value_type: string
          variable: condition
      height: 52
      id: '17682981338690'
      position:
        x: 1511.2861924178032
        y: 1516.0449635156713
      positionAbsolute:
        x: 1511.2861924178032
        y: 1516.0449635156713
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: is
            id: e2a8e58d-692c-458e-8401-ed106df1ba08
            value: true
            varType: boolean
            variable_selector:
            - '17682981338690'
            - success
          id: 'true'
          logical_operator: and
        selected: false
        title: 客户参数是否解析正确
        type: if-else
      height: 124
      id: '17682981488370'
      position:
        x: 1924.052799271291
        y: 1498.2179470480892
      positionAbsolute:
        x: 1924.052799271291
        y: 1498.2179470480892
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "\"\"\"\n客户查询模块\n接收处理后的参数，查询客户并返回结果\n\"\"\"\n\nimport json\nfrom urllib.parse\
          \ import urlencode, urljoin\nimport requests\nfrom typing import Dict, Any,\
          \ List\nfrom datetime import datetime, timedelta\n\ndef build_order_query_params(condition_data:\
          \ Dict[str, Any]) -> Dict[str, Any]:\n    \"\"\"\n    构建客户查询参数\n    \n \
          \   Args:\n        condition_data: 条件参数字典\n        \n    Returns:\n    \
          \    构建好的查询参数\n    \"\"\"\n    # 默认参数\n    params = {\n        \"page\"\
          : 0,\n        \"format\": \"json\",\n        \"hide_canceled\": \"on\",\n\
          \        \"pageSize\": 10\n    }\n    \n    # 从条件数据中提取参数\n    if condition_data:\n\
          \        for key, value in condition_data.items():\n            if value\
          \ is not None and value != \"\":\n                if key == \"type\" and\
          \ value == \"client\":\n                    continue\n\n               \
          \ if key == \"action\":\n                    continue\n\n              \
          \  # 处理时间参数\n                params[key] = str(value)\n    \n    return\
          \ params\n\ndef make_api_request(params: Dict[str, Any], dhb_skey: str,\
          \ current_manager_api: str) -> Dict[str, Any]:\n    \"\"\"\n    调用客户查询API接口\n\
          \    \n    Args:\n        params: 查询参数\n        dhb_skey: 用户认证密钥\n     \
          \   current_manager_api: 管理API地址\n        \n    Returns:\n        API响应数据\n\
          \    \"\"\"\n    if not current_manager_api:\n        return {}\n    \n\
          \    try:\n        # 构建完整的客户查询URL\n        order_endpoint = \"/Manager/Client/client\"\
          \n        base_url = urljoin(current_manager_api, order_endpoint)\n    \
          \    \n        # 添加认证密钥\n        query_params = params.copy()\n        if\
          \ dhb_skey and dhb_skey.strip():\n            query_params[\"dhb_skey\"\
          ] = dhb_skey\n        \n        # 构建完整URL\n        query_string = urlencode(query_params,\
          \ doseq=True, safe='+')\n        full_url = f\"{base_url}?{query_string}\"\
          \n        \n        headers = {\n            \"Content-Type\": \"application/json;\
          \ charset=utf-8\",\n            \"Accept\": \"application/json; charset=utf-8\"\
          \n        }\n        \n        # 发送请求\n        response = requests.get(full_url,\
          \ headers=headers, timeout=30.0)\n        response.raise_for_status()\n\
          \        \n        return response.json()\n        \n    except requests.exceptions.Timeout:\n\
          \        return dict(code=-1, msg=\"API请求超时\", message=\"API请求超时\")\n    except requests.exceptions.RequestException as e:\n\
          \        error_message = f\"API请求异常: {str(e)}\"\n        return dict(code=-1, msg=error_message, message=error_message)\n    except json.JSONDecodeError as e:\n\
          \        error_message = f\"API返回非JSON: {str(e)}\"\n        return dict(code=-1, msg=error_message, message=error_message)\n    except Exception as e:\n\
          \        error_message = f\"API请求处理异常: {str(e)}\"\n        return dict(code=-1, msg=error_message, message=error_message)\n\ndef format_orders_text(orders:\
          \ List[Dict[str, Any]]) -> str:\n    \"\"\"\n    格式化客户信息为文本\n    \"\"\"\n\
          \    if not orders:\n        return \"暂无客户数据\"\n    \n    try:\n       \
          \ texts = []\n        for i, order in enumerate(orders[:30], 1):  # 最多显示30个客户\n\
          \            client_name = order.get(\"client_name\", \"N/A\")\n       \
          \     text = f\"{client_name}\"\n            texts.append(text)\n      \
          \  \n        return \",\".join(texts)\n        \n    except Exception as\
          \ e:\n        return f\"共{len(orders)}条客户数据（注意：当前每次最多返回10条）\"\n\ndef query_orders(params:\
          \ Dict[str, Any], dhb_skey: str, current_manager_api: str) -> Dict[str,\
          \ Any]:\n    \"\"\"\n    查询客户\n    \n    Args:\n        params: 查询参数字典\n\
          \        dhb_skey: 用户认证密钥\n        current_manager_api: 管理API地址\n      \
          \  \n    Returns:\n        查询结果字典\n    \"\"\"\n    result = {\n        \"\
          success\": False,\n        \"message\": \"\",\n        \"ai_agent_manager_client\"\
          : [],\n        \"ai_agent_manager_client_text\": \"\"\n    }\n    \n   \
          \ try:\n        # 验证必要参数\n        if not dhb_skey or not dhb_skey.strip():\n\
          \            result[\"message\"] = \"认证密钥无效\"\n            return result\n\
          \        \n        if not current_manager_api or not current_manager_api.strip():\n\
          \            result[\"message\"] = \"API地址无效\"\n            return result\n\
          \        \n        # 确保API地址格式正确\n        if not current_manager_api.startswith((\"\
          http://\", \"https://\")):\n            current_manager_api = f\"https://{current_manager_api}\"\
          \n        \n        # 构建查询参数\n        query_params = build_order_query_params(params)\n\
          \        \n        # 调用客户查询API\n        api_response = make_api_request(query_params,\
          \ dhb_skey, current_manager_api)\n        \n        if not api_response\
          \ or not isinstance(api_response, dict):\n            result[\"message\"\
          ] = \"API返回数据无效\"\n            return result\n        \n        # 检查API响应状态\n\
          \        if api_response.get(\"code\") != 200:\n            msg = api_response.get(\"\
          msg\") or api_response.get(\"message\", \"API请求失败\")\n            result[\"\
          message\"] = f\"API请求失败: {msg}\"\n            return result\n        \n\
          \        # 提取客户数据\n        data = api_response.get(\"data\", {})\n     \
          \   if not isinstance(data, dict):\n            result[\"message\"] = \"\
          API返回数据格式错误\"\n            return result\n        \n        orders = data.get(\"\
          list\", [])\n        if not isinstance(orders, list):\n            orders\
          \ = []\n        \n        # 设置返回结果\n        result[\"success\"] = True\n\
          \        result[\"message\"] = f\"查询成功，共{len(orders)}条客户（注意：当前每次最多返回10条）\"\
          \n        result[\"ai_agent_manager_client\"] = orders\n        result[\"\
          ai_agent_manager_client_text\"] = format_orders_text(orders)\n        \n\
          \        return result\n        \n    except Exception as e:\n        result[\"\
          message\"] = f\"处理客户查询时发生错误: {str(e)}\"\n        return result\n\ndef main(params:\
          \ Dict[str, Any], dhb_skey: str, current_manager_api: str) -> Dict[str,\
          \ Any]:\n    \"\"\"\n    Dify工作流主函数 - 客户查询逻辑\n    \n    Args:\n        params:\
          \ 查询参数字典\n        dhb_skey: 用户认证密钥\n        current_manager_api: 管理API地址\n\
          \        \n    Returns:\n        查询结果\n    \"\"\"\n    return query_orders(params,\
          \ dhb_skey, current_manager_api)\n\n# 测试代码\n# if __name__ == \"__main__\"\
          :\n#     import sys\n    \n#     if len(sys.argv) < 4:\n#         print(\"\
          用法: python order_query.py <params_json> <dhb_skey> <current_manager_api>\"\
          )\n#         print(\"示例: python order_query.py '{\\\"client_id\\\": \\\"\
          1,2\\\"}' 'your_key' 'https://yadmin.example.com'\")\n#         sys.exit(1)\n\
          \    \n#     try:\n#         params = json.loads(sys.argv[1])\n#       \
          \  dhb_skey = sys.argv[2]\n#         current_manager_api = sys.argv[3]\n\
          \        \n#         result = main(params, dhb_skey, current_manager_api)\n\
          #         print(json.dumps(result, ensure_ascii=False, indent=2))\n#   \
          \  except json.JSONDecodeError as e:\n#         print(f\"JSON解析错误: {e}\"\
          )\n#         sys.exit(1)"
        code_language: python3
        outputs:
          ai_agent_manager_client:
            children: null
            type: array[object]
          ai_agent_manager_client_text:
            children: null
            type: string
          message:
            children: null
            type: string
          success:
            children: null
            type: boolean
        selected: false
        title: 客户API查询服务
        type: code
        variables:
        - value_selector:
          - '17682981338690'
          - params
          value_type: object
          variable: params
        - value_selector:
          - '1711528914102'
          - dhb_skey
          value_type: string
          variable: dhb_skey
        - value_selector:
          - '1767672490898'
          - current_manager_api
          value_type: string
          variable: current_manager_api
      height: 52
      id: '17682981570450'
      position:
        x: 2326.9851351557963
        y: 1444.923056717928
      positionAbsolute:
        x: 2326.9851351557963
        y: 1444.923056717928
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '系统遇到一些错误，请稍后重试。

          {{#17682981338690.message#}}'
        selected: false
        title: 客户参数解析失败
        type: answer
        variables: []
      height: 119
      id: '17682981635970'
      position:
        x: 2326.9851351557963
        y: 1588.5356906652114
      positionAbsolute:
        x: 2326.9851351557963
        y: 1588.5356906652114
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: is
            id: 0dc80939-253f-448b-a321-6dfec910fa58
            value: true
            varType: boolean
            variable_selector:
            - '17682981570450'
            - success
          id: 'true'
          logical_operator: and
        selected: false
        title: 客户API查询服务判断
        type: if-else
      height: 124
      id: '17682981776470'
      position:
        x: 2707.0367828512635
        y: 1470.1133669877022
      positionAbsolute:
        x: 2707.0367828512635
        y: 1470.1133669877022
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '系统遇到一些错误，请稍后重试。

          {{#17682981570450.message#}}'
        selected: false
        title: 客户API查询服务异常
        type: answer
        variables: []
      height: 119
      id: '17682981960640'
      position:
        x: 3086.182979242602
        y: 1588.5356906652114
      positionAbsolute:
        x: 3086.182979242602
        y: 1588.5356906652114
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "\"\"\"\n参数解析器\n只负责从条件字符串中提取参数\n\"\"\"\n\nimport json\nimport re\nfrom\
          \ typing import Dict, Any\n\ndef clean_json_string(json_str: str) -> str:\n\
          \    \"\"\"\n    清理JSON字符串，移除AI思考过程和代码块标记\n    \"\"\"\n    if not json_str\
          \ or not isinstance(json_str, str):\n        return \"\"\n    \n    # 查找最后一个```json代码块\n\
          \    pattern = r'```json\\s*\\n(.*?)\\n\\s*```'\n    matches = re.findall(pattern,\
          \ json_str, re.DOTALL)\n    \n    if matches:\n        extracted = matches[-1]\n\
          \        return extracted.strip()\n    \n    # 查找普通的```代码块\n    pattern2\
          \ = r'```\\s*\\n(.*?)\\n\\s*```'\n    matches2 = re.findall(pattern2, json_str,\
          \ re.DOTALL)\n    \n    if matches2:\n        extracted = matches2[-1]\n\
          \        cleaned = extracted.strip()\n        if (cleaned.startswith('[')\
          \ and cleaned.endswith(']')) or \\\n           (cleaned.startswith('{')\
          \ and cleaned.endswith('}')):\n            return cleaned\n    \n    # 如果没有代码块标记，直接返回原始字符串\n\
          \    cleaned_str = json_str.strip()\n    if cleaned_str.startswith('[')\
          \ and cleaned_str.endswith(']'):\n        try:\n            json.loads(cleaned_str)\n\
          \            return cleaned_str\n        except json.JSONDecodeError:\n\
          \            pass\n    \n    if cleaned_str.startswith('{') and cleaned_str.endswith('}'):\n\
          \        try:\n            json.loads(cleaned_str)\n            return cleaned_str\n\
          \        except json.JSONDecodeError:\n            pass\n    \n    return\
          \ \"\"\n\ndef extract_json_from_ai_response(text: str) -> str:\n    \"\"\
          \"\n    专门从AI响应中提取JSON数据\n    \"\"\"\n    if not text or not isinstance(text,\
          \ str):\n        return \"\"\n    \n    # 方法1: 查找```json代码块\n    json_blocks\
          \ = re.findall(r'```json\\s*\\n(.*?)\\n\\s*```', text, re.DOTALL)\n    if\
          \ json_blocks:\n        return json_blocks[-1].strip()\n    \n    # 方法2:\
          \ 查找普通```代码块\n    code_blocks = re.findall(r'```\\s*\\n(.*?)\\n\\s*```',\
          \ text, re.DOTALL)\n    if code_blocks:\n        for block in reversed(code_blocks):\n\
          \            block = block.strip()\n            if (block.startswith('[')\
          \ and block.endswith(']')) or \\\n               (block.startswith('{')\
          \ and block.endswith('}')):\n                try:\n                    json.loads(block)\n\
          \                    return block\n                except:\n           \
          \         continue\n    \n    # 方法3: 直接查找JSON数组或对象\n    json_pattern = r'(\\\
          [\\s*\\{.*?\\}\\s*\\])|(\\{\\s*\".*?\"\\s*:\\s*.*?\\})'\n    matches = re.findall(json_pattern,\
          \ text, re.DOTALL)\n    \n    for match in matches:\n        for group in\
          \ match:\n            if group:\n                try:\n                \
          \    json.loads(group.strip())\n                    return group.strip()\n\
          \                except:\n                    continue\n    \n    return\
          \ \"\"\n\ndef main(condition: str) -> Dict[str, Any]:\n    \"\"\"\n    Dify工作流主函数\
          \ - 只解析参数\n    \n    Args:\n        condition: 查询条件字符串\n        \n    Returns:\n\
          \        解析结果字典\n    \"\"\"\n    result = {\n        \"success\": False,\n\
          \        \"message\": \"\",\n        \"params\": {}\n    }\n    \n    try:\n\
          \        if not condition or not isinstance(condition, str):\n         \
          \   result[\"message\"] = \"查询条件为空\"\n            return result\n      \
          \  \n        # 清理和解析条件参数\n        cleaned_condition = clean_json_string(condition)\n\
          \        if not cleaned_condition:\n            # 尝试从AI响应中提取\n         \
          \   cleaned_condition = extract_json_from_ai_response(condition)\n     \
          \   \n        if cleaned_condition:\n            # 尝试解析为JSON\n         \
          \   try:\n                params = json.loads(cleaned_condition)\n     \
          \           if isinstance(params, dict):\n                    result[\"\
          params\"] = params\n                    result[\"success\"] = True\n   \
          \                 result[\"message\"] = \"成功解析JSON参数\"\n               \
          \ else:\n                    result[\"message\"] = \"JSON格式错误：应为对象格式\"\n\
          \            except json.JSONDecodeError as e:\n                result[\"\
          message\"] = f\"JSON解析错误: {e}\"\n        else:\n            # 不是JSON格式，按文本处理\n\
          \            result[\"params\"] = {\"text\": condition.strip()}\n      \
          \      result[\"success\"] = True\n            result[\"message\"] = \"\
          按纯文本处理\"\n        \n        return result\n        \n    except Exception\
          \ as e:\n        result[\"message\"] = f\"条件解析异常: {str(e)}\"\n        return\
          \ result\n        \n# # 独立运行测试\n# if __name__ == \"__main__\":\n#     import\
          \ sys\n    \n#     if len(sys.argv) < 2:\n#         print(\"用法: python param_parser.py\
          \ <condition>\")\n#         print(\"示例1: python param_parser.py '测试客户1,测试客户2'\"\
          )\n#         print(\"示例2: python param_parser.py '{\\\"client_name\\\":\
          \ \\\"测试客户\\\"}'\")\n#         print(\"示例3: python param_parser.py '我认为应该查询测试客户的订单。```json\\\
          \\n{\\\"client_name\\\": \\\"测试客户\\\"}\\\\n```'\")\n#         sys.exit(1)\n\
          \    \n#     condition = sys.argv[1]\n#     result = main(condition)\n#\
          \     print(json.dumps(result, ensure_ascii=False, indent=2))"
        code_language: python3
        outputs:
          message:
            children: null
            type: string
          params:
            children: null
            type: object
          success:
            children: null
            type: boolean
        selected: false
        title: 库存参数提炼为JSON格式
        type: code
        variables:
        - value_selector:
          - '17679231704560'
          - text
          value_type: string
          variable: condition
      height: 52
      id: '17682989451520'
      position:
        x: 1511.2861924178032
        y: 1914.515420358138
      positionAbsolute:
        x: 1511.2861924178032
        y: 1914.515420358138
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: is
            id: e2a8e58d-692c-458e-8401-ed106df1ba08
            value: true
            varType: boolean
            variable_selector:
            - '17682989451520'
            - success
          id: 'true'
          logical_operator: and
        selected: false
        title: 库存参数是否解析正确
        type: if-else
      height: 124
      id: '17682989505230'
      position:
        x: 1924.052799271291
        y: 1880.134745742087
      positionAbsolute:
        x: 1924.052799271291
        y: 1880.134745742087
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '系统遇到一些错误，请稍后重试。

          {{#17682989451520.message#}}'
        selected: false
        title: 库存参数解析失败
        type: answer
        variables: []
      height: 119
      id: '17682989582890'
      position:
        x: 2316.8797938750395
        y: 2004.9238610151615
      positionAbsolute:
        x: 2316.8797938750395
        y: 2004.9238610151615
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "\"\"\"\n库存查询模块\n接收处理后的参数，查询库存并返回结果\n\"\"\"\n\nimport json\nfrom urllib.parse\
          \ import urlencode, urljoin\nimport requests\nfrom typing import Dict, Any,\
          \ List\nfrom datetime import datetime, timedelta\n\ndef build_order_query_params(condition_data:\
          \ Dict[str, Any]) -> Dict[str, Any]:\n    \"\"\"\n    构建库存查询参数\n    \n \
          \   Args:\n        condition_data: 条件参数字典\n        \n    Returns:\n    \
          \    构建好的查询参数\n    \"\"\"\n    # 默认参数\n    params = {\n        \"page\"\
          : 1,\n        \"pageSize\": 10\n    }\n    \n    # 从条件数据中提取参数\n    if condition_data:\n\
          \        for key, value in condition_data.items():\n            if value\
          \ is not None and value != \"\":\n                if key == \"type\" and\
          \ value == \"inventory\":\n                    continue\n\n            \
          \    if key == \"action\":\n                    continue\n\n           \
          \     # 处理时间参数\n                params[key] = str(value)\n    \n    return\
          \ params\n\ndef make_api_request(params: Dict[str, Any], dhb_skey: str,\
          \ current_manager_api: str) -> Dict[str, Any]:\n    \"\"\"\n    调用库存查询API接口\n\
          \    \n    Args:\n        params: 查询参数\n        dhb_skey: 用户认证密钥\n     \
          \   current_manager_api: 管理API地址\n        \n    Returns:\n        API响应数据\n\
          \    \"\"\"\n    if not current_manager_api:\n        return {}\n    \n\
          \    try:\n        # 构建完整的库存查询URL\n        order_endpoint = \"/RestfulApi/situation\"\
          \n        base_url = urljoin(current_manager_api, order_endpoint)\n    \
          \    \n        # 添加认证密钥\n        query_params = params.copy()\n        if\
          \ dhb_skey and dhb_skey.strip():\n            query_params[\"dhb_skey\"\
          ] = dhb_skey\n        \n        # 构建完整URL\n        query_string = urlencode(query_params,\
          \ doseq=True, safe='+')\n        full_url = f\"{base_url}?{query_string}\"\
          \n        \n        headers = {\n            \"Content-Type\": \"application/json;\
          \ charset=utf-8\",\n            \"Accept\": \"application/json; charset=utf-8\"\
          \n        }\n        \n        # 发送请求\n        response = requests.get(full_url,\
          \ headers=headers, timeout=30.0)\n        response.raise_for_status()\n\
          \        \n        return response.json()\n        \n    except requests.exceptions.Timeout:\n\
          \        return dict(code=-1, msg=\"API请求超时\", message=\"API请求超时\")\n    except requests.exceptions.RequestException as e:\n\
          \        error_message = f\"API请求异常: {str(e)}\"\n        return dict(code=-1, msg=error_message, message=error_message)\n    except json.JSONDecodeError as e:\n\
          \        error_message = f\"API返回非JSON: {str(e)}\"\n        return dict(code=-1, msg=error_message, message=error_message)\n    except Exception as e:\n\
          \        error_message = f\"API请求处理异常: {str(e)}\"\n        return dict(code=-1, msg=error_message, message=error_message)\n\ndef format_orders_text(orders:\
          \ List[Dict[str, Any]]) -> str:\n    \"\"\"\n    格式化库存信息为文本\n    \"\"\"\n\
          \    if not orders:\n        return \"暂无库存数据\"\n    \n    try:\n       \
          \ texts = []\n        for i, order in enumerate(orders[:30], 1):  # 最多显示30个商品库存\n\
          \            #orders_num = order.get(\"goods_num\", \"N/A\")\n         \
          \   goods_name = order.get(\"goods_name\", \"N/A\")\n            #available_number\
          \ = order.get(\"available_number\", \"N/A\")\n            #real_number =\
          \ order.get(\"real_number\", \"N/A\")\n            options_name = order.get(\"\
          options_name\", \"N/A\")\n            \n            text = f\"{goods_name}\
          \ {options_name}\"\n            texts.append(text)\n        \n        return\
          \ \",\".join(texts)\n        \n    except Exception as e:\n        return\
          \ f\"共{len(orders)}条库存数据（注意：当前每次最多返回10条）\"\n\ndef query_orders(params: Dict[str,\
          \ Any], dhb_skey: str, current_manager_api: str) -> Dict[str, Any]:\n  \
          \  \"\"\"\n    查询库存\n    \n    Args:\n        params: 查询参数字典\n        dhb_skey:\
          \ 用户认证密钥\n        current_manager_api: 管理API地址\n        \n    Returns:\n\
          \        查询结果字典\n    \"\"\"\n    result = {\n        \"success\": False,\n\
          \        \"message\": \"\",\n        \"ai_agent_manager_stock\": [],\n \
          \       \"ai_agent_manager_stock_text\": \"\"\n    }\n    \n    try:\n \
          \       # 验证必要参数\n        if not dhb_skey or not dhb_skey.strip():\n   \
          \         result[\"message\"] = \"认证密钥无效\"\n            return result\n\
          \        \n        if not current_manager_api or not current_manager_api.strip():\n\
          \            result[\"message\"] = \"API地址无效\"\n            return result\n\
          \        \n        # 确保API地址格式正确\n        if not current_manager_api.startswith((\"\
          http://\", \"https://\")):\n            current_manager_api = f\"https://{current_manager_api}\"\
          \n        \n        # 构建查询参数\n        query_params = build_order_query_params(params)\n\
          \        \n        # 调用库存查询API\n        api_response = make_api_request(query_params,\
          \ dhb_skey, current_manager_api)\n        \n        if not api_response\
          \ or not isinstance(api_response, dict):\n            result[\"message\"\
          ] = \"API返回数据无效\"\n            return result\n        \n        # 检查API响应状态\n\
          \        if api_response.get(\"code\") != 200:\n            msg = api_response.get(\"\
          msg\") or api_response.get(\"message\", \"API请求失败\")\n            result[\"\
          message\"] = f\"API请求失败: {msg}\"\n            return result\n        \n\
          \        # 提取库存数据\n        data = api_response.get(\"data\", {})\n     \
          \   if not isinstance(data, dict):\n            result[\"message\"] = \"\
          API返回数据格式错误\"\n            return result\n        \n        orders = data.get(\"\
          list\", [])\n        if not isinstance(orders, list):\n            orders\
          \ = []\n        \n        # 设置返回结果\n        result[\"success\"] = True\n\
          \        result[\"message\"] = f\"查询成功，共{len(orders)}条库存（注意：当前每次最多返回10条）\"\
          \n        result[\"ai_agent_manager_stock\"] = orders\n        result[\"\
          ai_agent_manager_stock_text\"] = format_orders_text(orders)\n        \n\
          \        return result\n        \n    except Exception as e:\n        result[\"\
          message\"] = f\"处理库存查询时发生错误: {str(e)}\"\n        return result\n\ndef main(params:\
          \ Dict[str, Any], dhb_skey: str, current_manager_api: str) -> Dict[str,\
          \ Any]:\n    \"\"\"\n    Dify工作流主函数 - 库存查询逻辑\n    \n    Args:\n        params:\
          \ 查询参数字典\n        dhb_skey: 用户认证密钥\n        current_manager_api: 管理API地址\n\
          \        \n    Returns:\n        查询结果\n    \"\"\"\n    return query_orders(params,\
          \ dhb_skey, current_manager_api)\n\n# 测试代码\n# if __name__ == \"__main__\"\
          :\n#     import sys\n    \n#     if len(sys.argv) < 4:\n#         print(\"\
          用法: python order_query.py <params_json> <dhb_skey> <current_manager_api>\"\
          )\n#         print(\"示例: python order_query.py '{\\\"client_id\\\": \\\"\
          1,2\\\"}' 'your_key' 'https://yadmin.example.com'\")\n#         sys.exit(1)\n\
          \    \n#     try:\n#         params = json.loads(sys.argv[1])\n#       \
          \  dhb_skey = sys.argv[2]\n#         current_manager_api = sys.argv[3]\n\
          \        \n#         result = main(params, dhb_skey, current_manager_api)\n\
          #         print(json.dumps(result, ensure_ascii=False, indent=2))\n#   \
          \  except json.JSONDecodeError as e:\n#         print(f\"JSON解析错误: {e}\"\
          )\n#         sys.exit(1)"
        code_language: python3
        outputs:
          ai_agent_manager_stock:
            children: null
            type: array[object]
          ai_agent_manager_stock_text:
            children: null
            type: string
          message:
            children: null
            type: string
          success:
            children: null
            type: boolean
        selected: false
        title: 库存API查询服务
        type: code
        variables:
        - value_selector:
          - '17682989451520'
          - params
          value_type: object
          variable: params
        - value_selector:
          - '1711528914102'
          - dhb_skey
          value_type: string
          variable: dhb_skey
        - value_selector:
          - '1767672490898'
          - current_manager_api
          value_type: string
          variable: current_manager_api
      height: 52
      id: '17682989634980'
      position:
        x: 2316.8797938750395
        y: 1861.0343709553922
      positionAbsolute:
        x: 2316.8797938750395
        y: 1861.0343709553922
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: is
            id: 0dc80939-253f-448b-a321-6dfec910fa58
            value: true
            varType: boolean
            variable_selector:
            - '17682989634980'
            - success
          id: 'true'
          logical_operator: and
        selected: false
        title: 库存API查询服务判断
        type: if-else
      height: 124
      id: '17682989711310'
      position:
        x: 2699.396632936586
        y: 1947.622736655076
      positionAbsolute:
        x: 2699.396632936586
        y: 1947.622736655076
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '系统遇到一些错误，请稍后重试。

          {{#17682989634980.message#}}'
        selected: false
        title: 库存API查询服务异常
        type: answer
        variables: []
      height: 119
      id: '17682989893370'
      position:
        x: 3100.189920752845
        y: 2073.685210247264
      positionAbsolute:
        x: 3100.189920752845
        y: 2073.685210247264
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: 261.9242805430986
      y: 53.53358076051495
      zoom: 0.624165274450806
  rag_pipeline_variables: []
