demo/vw-workflow-math-demo.yml
workflow:
  graph:
    nodes:
      - id: start
        data:
          title: Start
          type: start
          variables:
            - label: Left number
              type: number
              variable: left
            - label: Right number
              type: number
              variable: right
            - label: Operator
              type: select
              variable: operator

      - id: calculate
        data:
          title: Calculate
          type: code
          code_language: python3
          variables:
            - variable: left
              value_selector:
                - start
                - left
            - variable: right
              value_selector:
                - start
                - right
            - variable: operator
              value_selector:
                - start
                - operator
          code: |
            def main(left, right, operator="+"):
                a = float(left)
                b = float(right)
                op = (operator or "+").strip()

                if op == "+":
                    result = a + b
                elif op == "-":
                    result = a - b
                elif op == "*":
                    result = a * b
                elif op == "/":
                    if b == 0:
                        raise ValueError("division by zero")
                    result = a / b
                else:
                    raise ValueError(f"unsupported operator: {op}")

                return {
                    "left": a,
                    "right": b,
                    "operator": op,
                    "result": result,
                    "formula": f"{a:g} {op} {b:g} = {result:g}"
                }

      - id: answer
        data:
          title: Answer
          type: answer
          answer: |
            workflow_run_id={{#sys.workflow_run_id#}}
            formula={{#calculate.formula#}}
            result={{#calculate.result#}}

    edges:
      - source: start
        sourceHandle: source
        target: calculate
      - source: calculate
        sourceHandle: source
        target: answer
