demo/vw-workflow-gateway-demo.yml
workflow:
  graph:
    nodes:
      - id: start
        data:
          title: Start
          type: start
          variables:
            - label: User query
              type: paragraph
              variable: query
            - label: Tone
              type: text-input
              variable: tone

      - id: normalize
        data:
          title: Normalize Input
          type: code
          code_language: python3
          variables:
            - variable: query
              value_selector:
                - start
                - query
            - variable: tone
              value_selector:
                - start
                - tone
          code: |
            def main(query, tone="brief"):
                text = (query or "").strip()
                normalized_tone = (tone or "brief").strip() or "brief"
                return {
                    "ok": bool(text),
                    "text": text,
                    "tone": normalized_tone,
                    "length": len(text),
                    "summary": f"[{normalized_tone}] {text}"
                }

      - id: has_query
        data:
          title: Has Query
          type: if-else
          cases:
            - case_id: has_text
              logical_operator: and
              conditions:
                - comparison_operator: =
                  variable_selector:
                    - normalize
                    - ok
                  value: true

      - id: success_answer
        data:
          title: Success Answer
          type: answer
          answer: |
            workflow_run_id={{#sys.workflow_run_id#}}
            query={{#normalize.text#}}
            tone={{#normalize.tone#}}
            length={{#normalize.length#}}
            answer={{#normalize.summary#}}

      - id: empty_answer
        data:
          title: Empty Answer
          type: answer
          answer: |
            workflow_run_id={{#sys.workflow_run_id#}}
            error=empty query

    edges:
      - source: start
        sourceHandle: source
        target: normalize
      - source: normalize
        sourceHandle: source
        target: has_query
      - source: has_query
        sourceHandle: has_text
        target: success_answer
      - source: has_query
        sourceHandle: false
        target: empty_answer
