demo/vw-workflow-math-js-demo.yml
workflow:
  graph:
    nodes:
      - id: start
        data:
          title: Start
          type: start
          variables:
            - label: Left number
              type: number
              variable: left
            - label: Right number
              type: number
              variable: right
            - label: Operator
              type: select
              variable: operator

      - id: calculate
        data:
          title: Calculate
          type: code
          code_language: javascript
          variables:
            - variable: left
              value_selector:
                - start
                - left
            - variable: right
              value_selector:
                - start
                - right
            - variable: operator
              value_selector:
                - start
                - operator
          code: |
            function main(inputs) {
              const a = Number(inputs.left);
              const b = Number(inputs.right);
              const op = String(inputs.operator || "+").trim();

              if (!Number.isFinite(a) || !Number.isFinite(b)) {
                throw new Error("left and right must be valid numbers");
              }

              let result;
              if (op === "+") {
                result = a + b;
              } else if (op === "-") {
                result = a - b;
              } else if (op === "*") {
                result = a * b;
              } else if (op === "/") {
                if (b === 0) {
                  throw new Error("division by zero");
                }
                result = a / b;
              } else {
                throw new Error(`unsupported operator: ${op}`);
              }

              return {
                left: a,
                right: b,
                operator: op,
                result,
                formula: `${a} ${op} ${b} = ${result}`,
              };
            }

      - id: answer
        data:
          title: Answer
          type: answer
          answer: |
            workflow_run_id={{#sys.workflow_run_id#}}
            formula={{#calculate.formula#}}
            result={{#calculate.result#}}

    edges:
      - source: start
        sourceHandle: source
        target: calculate
      - source: calculate
        sourceHandle: source
        target: answer
