demo/vw-workflow-dev-lifecycle-demo.yml
workflow:
  graph:
    nodes:
      - id: start
        data:
          title: Start
          type: start
          variables:
            - label: Requirement
              type: paragraph
              variable: requirement
            - label: Reviewer
              type: text-input
              variable: reviewer
            - label: Review result
              type: select
              variable: review_result
            - label: Test result
              type: select
              variable: test_result

      - id: requirement
        data:
          title: Requirement Analysis
          type: code
          code_language: python3
          variables:
            - variable: requirement
              value_selector:
                - start
                - requirement
          code: |
            def main(requirement):
                text = (requirement or "").strip()
                return {
                    "stage": "需求",
                    "ok": bool(text),
                    "summary": text,
                    "acceptance": [
                        "能记录需求内容",
                        "能模拟评审、开发、测试和完成流转",
                        "测试通过后输出交付摘要"
                    ]
                }

      - id: review
        data:
          title: Review
          type: code
          code_language: python3
          variables:
            - variable: summary
              value_selector:
                - requirement
                - summary
            - variable: reviewer
              value_selector:
                - start
                - reviewer
            - variable: review_result
              value_selector:
                - start
                - review_result
          code: |
            def main(summary, reviewer="PM", review_result="approved"):
                decision = (review_result or "approved").strip().lower()
                return {
                    "stage": "评审",
                    "approved": decision == "approved",
                    "reviewer": (reviewer or "PM").strip() or "PM",
                    "comment": f"{reviewer or 'PM'} reviewed: {summary}"
                }

      - id: review_gate
        data:
          title: Review Gate
          type: if-else
          cases:
            - case_id: approved
              logical_operator: and
              conditions:
                - comparison_operator: =
                  variable_selector:
                    - review
                    - approved
                  value: true
            - case_id: rejected
              logical_operator: and
              conditions:
                - comparison_operator: =
                  variable_selector:
                    - review
                    - approved
                  value: false

      - id: review_failed
        data:
          title: Review Failed
          type: answer
          answer: |
            workflow_run_id={{#sys.workflow_run_id#}}
            stage=评审未通过
            requirement={{#requirement.summary#}}
            reviewer={{#review.reviewer#}}

      - id: development
        data:
          title: Development
          type: code
          code_language: python3
          variables:
            - variable: summary
              value_selector:
                - requirement
                - summary
            - variable: acceptance
              value_selector:
                - requirement
                - acceptance
          code: |
            def main(summary, acceptance):
                items = acceptance or []
                return {
                    "stage": "开发",
                    "status": "done",
                    "branch": "feature/dev-lifecycle-demo",
                    "changes": [
                        f"实现需求: {summary}",
                        f"覆盖验收点: {len(items)} 项"
                    ]
                }

      - id: testing
        data:
          title: Testing
          type: code
          code_language: python3
          variables:
            - variable: dev_status
              value_selector:
                - development
                - status
            - variable: test_result
              value_selector:
                - start
                - test_result
          code: |
            def main(dev_status, test_result="passed"):
                result = (test_result or "passed").strip().lower()
                passed = dev_status == "done" and result == "passed"
                return {
                    "stage": "测试",
                    "passed": passed,
                    "report": "all lifecycle checks passed" if passed else "test failed, needs fix"
                }

      - id: test_gate
        data:
          title: Test Gate
          type: if-else
          cases:
            - case_id: passed
              logical_operator: and
              conditions:
                - comparison_operator: =
                  variable_selector:
                    - testing
                    - passed
                  value: true
            - case_id: failed
              logical_operator: and
              conditions:
                - comparison_operator: =
                  variable_selector:
                    - testing
                    - passed
                  value: false

      - id: test_failed
        data:
          title: Test Failed
          type: answer
          answer: |
            workflow_run_id={{#sys.workflow_run_id#}}
            stage=测试未通过
            report={{#testing.report#}}
            branch={{#development.branch#}}

      - id: done
        data:
          title: Done
          type: answer
          answer: |
            workflow_run_id={{#sys.workflow_run_id#}}
            stage=完成
            requirement={{#requirement.summary#}}
            reviewer={{#review.reviewer#}}
            branch={{#development.branch#}}
            test={{#testing.report#}}
            result=需求已评审、开发、测试并完成交付

    edges:
      - source: start
        sourceHandle: source
        target: requirement
      - source: requirement
        sourceHandle: source
        target: review
      - source: review
        sourceHandle: source
        target: review_gate
      - source: review_gate
        sourceHandle: approved
        target: development
      - source: review_gate
        sourceHandle: rejected
        target: review_failed
      - source: development
        sourceHandle: source
        target: testing
      - source: testing
        sourceHandle: source
        target: test_gate
      - source: test_gate
        sourceHandle: passed
        target: done
      - source: test_gate
        sourceHandle: failed
        target: test_failed
